$color-primary-one:#FCC81D;
$color-primary-two:#052058;
$color-secondary-light:#D2D2D2;
$color-secondary:#929292;
$color-secondary-dark:#414141;
$color-white:#FFFFFF;
$color-white-transparent:rgba($color-white , .6);
$color-black:#000;
$color-body-index-background:#191B20;
$color-body-background:#F1F1F1;
$color-header-background:#2F3136;
$color-header-index-background:#42454B;
$color-boxes-index-background:#D3A613;
$color-red:#cf3a3a;
$color-green:#33fd4c;