$color-primary-one:#F2B80C;
$color-primary-two:#073352;
$color-body-index-background:#0C4471;
$color-body-background:#F9F9F9;
$color-header-background:#062843;
$color-red:#B41515;
$color-green:#10AF23;



$color-secondary-light:#D2D2D2;
$color-secondary:#929292;
$color-secondary-dark:#313131;
$color-white:#FFFFFF;
$color-white-transparent:rgba($color-white , .6);
$color-black:#000;
$color-black-transparent:rgba($color-black , .4);
