@font-face {
  font-family: "IranYekanFaNumbers";
  src: url("../fonts/IranYekanWebFaNumber.eot");
  src: url("../fonts/IranYekanWebFaNumber.eot?#iefix") format("embedded-opentype"),
  url("../fonts/IranYekanWebFaNumber.otf") format("opentype"),
  url("../fonts/IranYekanWebFaNumber.svg") format("svg"),
  url("../fonts/IranYekanWebFaNumber.ttf") format("truetype"),
  url("../fonts/IranYekanWebFaNumber.woff") format("woff"),
  url("../fonts/IranYekanWebFaNumber.woff2") format("woff2");
}