@import "colors";
@import "units";
@import "mixin";

.page-wrapper {
    margin: 60px 0;
}

.article {
    .article-left {
        .article-left-heading-one {
            font-size: 30px;
            color: lighten($color:$color-primary-two, $amount: 15%);
            padding: 0 10px;
            line-height: 1.5;
            text-align: center;
        }
        .article-left-image-wrapper{
                position: relative;
            .article-left-image {
                width: 100%;
                display: block;
                margin: 30px auto;
                border-radius: 5px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $color-black;
                opacity: 0;
                transition: all ease .5s;
            }
            &:hover::before{
                opacity: .5;
            }
        }

         
        .article-left-cannibalization {
            box-shadow: 0 0 4px 3px $color-secondary-light;
            background-color: $color-primary-one;
            border-radius: 5px;

            .article-left-cannibalization-paragraph {
                text-align: center;
                color: $color-white;
                padding: 20px 10px;
                box-shadow: 0 0 4px 3px $color-secondary-light;
            }

            .article-left-cannibalization-list {
                background-color: $color-white;
                padding: 20px 10px;
                text-align: right;

                .article-left-cannibalization-item {
                    display: inline-block;
                    padding: 20px 30px;
                    cursor: pointer;
                    transition: all ease 0.5s;
                    width: 50%;
                    position: relative;
                    text-align: center;
                    color: $color-primary-two;
                    font-size: 16px;

                    &::before {
                        content: '\f058';
                        font-family: FontAwesome;
                        color: $color-primary-one;
                        padding: 8px;
                        transition: all ease 0.5s;
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .article-left-heading-two {
            font-size: 22px;
            line-height: 2;
            text-align: justify;
            font-weight: bold;
            margin: 30px 0;
        }

        .article-left-description {
            p {
                line-height: 2;
                text-align: justify;
                font-size: 16px;
                text-indent: 25px;
            }

            h3 {
                text-align: center;
                color: $color-primary-one;
                font-size: 20px;
                margin: 20px 0;
                padding: 20px 0;
                font-weight: bold;
                border-top: 1px solid $color-secondary;
                border-bottom: 1px solid $color-secondary;
            }

            img {
                display: block;
                width: 80%;
                margin: 30px auto;
                border-radius: 5px;
                transition: all ease .5s;
                &:hover{
                    filter: grayscale(.5);
                }
            }
            a[href]{
                color: $color-primary-one;
                font-weight: bold;
                font-size:16px;
                transition: all ease .5s;
                &:hover{
                    color: $color-primary-two;
                }
            }
        }

        .article-left-tags {
            .article-left-tags-heading-five {
                color: $color-secondary;
                font-size: 16px;
                text-align: right;
                padding: 20px 0;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color-secondary-light;
                }

                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 30%;
                    height: 2px;
                    background-color: $color-primary-one;
                }
            }

            .article-left-tags-list {
                margin-top: 20px;
                text-align: right;

                .article-left-tags-item {
                    display: inline-block;
                    border-radius: 20px;
                    border: 1px solid $color-primary-one;
                    color: $color-primary-one;
                    padding: 5px 10px;
                    margin: 0 5px;
                    cursor: pointer;
                    transition: all ease .5s;
                    background-color: $color-white;

                    &:hover {
                        color: $color-white;
                        background-color: $color-primary-one;
                    }
                }
            }
        }

        .article-left-comments {
            margin-top: 30px;
.article-left-comments-send{
    .article-left-comments-send-heading-five {
        color: $color-secondary;
        font-size: 16px;
        text-align: right;
        padding: 20px 0;
    }
    .article-left-comments-send-text-area{
        border: 1px solid $color-secondary-light;
        display: block;
        min-height: 200px;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        transition: all ease .3s;
        &:focus{
            border: 1px solid $color-primary-one;
        }
    }
    .article-left-comments-send-submit{
        @include Button3($color-white,$color-primary-one,4px);
        color: $color-primary-one;
        display: block;
        margin: 30px auto;
        padding:15px 40px;
        width: 50%;
    }
}
            .article-left-comments-list {
                .article-left-comments-item {
                    background-color:$color-white;
                    padding: 15px 20px;
                    border-radius: 6px;
                    margin: 20px 0;
                    .article-left-comments-header {
                        text-align: right;

                        .article-left-comments-header-right {
                            float: right;

                            .article-left-comments-header-right-image {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                        }

                        .article-left-comments-header-left {
                            height: 100%;
                            padding-top: 13px;

                            .article-left-comments-header-left-name {
                                vertical-align: middle;
                                margin-right: 20px;
                                color: $color-primary-two;
                            }

                            .article-left-comments-header-left-date {
                                float: left;
                                color: $color-primary-one;
                                font-size: 14px;
                            }
                        }

                    }

                    .article-left-comments-content {
                        line-height: 2;
                        margin-top: 30px;
                        font-size: 15px;
                        color: $color-primary-two;
                        text-align: justify;
                    }
                    .article-left-comments-footer{
                        padding: 30px 20px;
                        .article-left-comments-footer-icon{
                            color: $color-primary-one;
                            transition: all ease .3s;
                            cursor: pointer;
                            &:nth-child(1){
                                float: left;
                            }
                            &:nth-child(2){
                                float: right;
                            }
                            &.article-left-comments-footer-icon-close{
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .article-left-comments-send-reply{
                        transition: all ease 1s;
                        overflow: hidden;
                        height: 0;
                        .article-left-comments-send-reply-text-area{
                            border: 1px solid $color-secondary-light;
                            display: block;
                            min-height: 200px;
                            width: 100%;
                            padding: 20px;
                            border-radius: 5px;
                            transition: all ease .3s;
                            &:focus{
                                border: 1px solid $color-primary-one;
                            }
                        }
                        .article-left-comments-send-reply-submit{
                            @include Button3($color-white,$color-primary-one,4px);
                            color: $color-primary-one;
                            display: block;
                            margin: 30px auto;
                            padding:15px 40px;
                            width: 50%;
                        }
                    }
                    .article-left-comments-reply {
                        transition: all ease 1s;
                        overflow: hidden;
                        margin-top: 20px;
                        margin-right: 25px;
                        min-height: 100%;
                        .article-left-comments-reply-list{
                            .article-left-comments-reply-item{
                                background-color: lighten($color: $color-primary-one, $amount: 35%);
                                padding: 15px 20px;
                                position: relative;
                                border-radius: 6px;
                                margin: 10px 0;

                                .article-left-comments-reply-header {
                                    text-align: right;
            
                                    .article-left-comments-reply-header-right {
                                        float: right;
            
                                        .article-left-comments-reply-header-right-image {
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 50%;
                                        }
                                    }
            
                                    .article-left-comments-reply-header-left {
                                        height: 100%;
                                        padding-top: 13px;
            
                                        .article-left-comments-reply-header-left-name {
                                            vertical-align: middle;
                                            margin-right: 20px;
                                            color: $color-primary-two;
                                        }
            
                                        .article-left-comments-reply-header-left-date {
                                            float: left;
                                            color: $color-primary-one;
                                            font-size: 14px;
                                        }
                                    }
            
                                }
            
                                .article-left-comments-reply-content {
                                    line-height: 2;
                                    margin-top: 30px;
                                    font-size: 15px;
                                    color: $color-primary-two;
                                    text-align: justify;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
