@import "colors";
@import "units";
@import "mixin";


.cryptomarket{
    margin-top: $margin-section;
    .cryptomarket-heading-two{
        @include MainTitle($color-primary-one,$color-primary-two);
        font-size: 25px;
        margin-bottom: 40px;
    }
    .cryptomarket-frame{
        width: 100%;
        height: 500px;
    }
}