@import "colors";
@import "units";
@import "mixin";

.page-wrapper{
  margin: 60px 0;
}
.list-articles {
  .list-articles-sort{
    display: flex;
    justify-content: flex-start;
    text-align: right;
    label{
      font-size: 14px;
      color: $color-secondary-dark;
    }
    select{
      width: auto !important;
      font-size: 14px;
      padding: .375rem 1rem;
      &:focus{
        box-shadow: none;
      }
    }
    button{
      background-color: $color-primary-one;
      color: $color-primary-two;
      padding: 0 10px;
      font-size: 14px;
      margin-right: 10px;
      height: 100%;
      border-radius: 0.25rem
    }
  }
.list-articles-heading-two{
  @include MainTitle($color-primary-one,$color-primary-two);
  font-size: 22px;
}
    .list-articles-boxes-wrapper {
      position: relative;
      margin-top: 30px;
        .list-articles-boxes {
          text-align: center;
          box-shadow: 2px 2px 5px 0 rgba($color-black, .15), -2px -2px 5px 0 rgba($color-black, .15);
          background-color: $color-white;
          transition: all ease .4s;
          user-select: none;
          border-radius: 5px;
            margin: 20px 0;
          .list-articles-boxes-header {
            width: 100%;
            height: 200px;
            overflow: hidden;
  
            .list-articles-boxes-header-image {
              width: 100%;
              height: 100%;
              border-radius: 5px 5px 0 0;
              transition: all ease .5s;
  
              &:hover {
                transform: scaleX(1.15);
              }
            }
          }
  
          .list-articles-boxes-content {
            margin: 20px 8px;
            border-bottom: 1px solid $color-secondary-light;
            padding-bottom: 10px;
  
            .list-articles-boxes-content-heading-three {
              font-size: 16px;
              height: 30px;
              overflow: hidden;
              padding-bottom: 10px;
              color: $color-primary-two;
              transition: all ease .5s;
  
              &:hover {
                color: $color-primary-one;
              }
            }
  
            .list-articles-boxes-content-paragraph {
              font-size: 14px;
              max-height: 80px;
              line-height: 40px;
              width: 100%;
              overflow: hidden;
              text-align: justify;
              color: $color-secondary;
            }
          }
  
          .list-articles-boxes-footer {
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
  
            .list-articles-boxes-footer-time {
              color: $color-secondary;
              padding: 7px 10px;
              display: inline-block;
              border-radius: 3px;
              font-size: 12px;
  
              .list-articles-boxes-footer-time-icon {
                margin-left: 5px;
                vertical-align: middle;
              }
  
              .list-articles-boxes-footer-time-span {
                vertical-align: middle;
  
              }
            }
  
            .list-articles-boxes-footer-view {
              color: $color-secondary;
              padding: 7px 10px;
              font-size: 12px;
              display: inline-block;
              border-radius: 3px;
  
              .list-articles-boxes-footer-view-icon {
                margin-left: 5px;
                vertical-align: middle;
              }
  
              .list-articles-boxes-footer-view-span {
                vertical-align: middle;
              }
            }
          }
  
          &:hover {
            transform: scaleY(1.03);
          }
        }
  
    }
  .list-articles-pagination{
    margin-top: 40px;
    .list-articles-pagination-list{
      text-align: center;
      .list-articles-pagination-item{
        display: inline-block;
        border: 1px solid $color-primary-one;
        color: $color-primary-one;
        background-color: $color-white;
        border-radius: 50%;
        margin: 5px 10px;
        width: 30px;
        height: 30px;
        line-height: 27px;
        transition: all ease .3s;
        &:hover{
          color: $color-white;
        background-color: $color-primary-one;
        }
        &.list-articles-pagination-item-active{
          color: $color-white;
          background-color: $color-primary-one;
        }
        .list-articles-pagination-link{
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
  }
  



.optionbox {
    background:#f2f2f2;
    color: $color-primary-two;
    padding: 10px;
    border: none;
    font-size: 20px;
    -webkit-appearance: button;
    outline: none
}

.optionbox:before {
    content: '\f358';
    font-family: "Font Awesome 5 free";
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: #E91E63;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 30px;
    pointer-events: none
}

.optionbox:hover:before {
    background: #c72059
}