@import "colors";
@import "units";
@import "mixin";
.swal-title{
  font-size: 16px;
  font-weight: bold;
}
.swal-footer{
  text-align: center;
}
.watch-list-line{
    margin-top: 40px;
    text-align: right;
    .watch-list-line-heading-two{
      @include MainTitle($color-primary-one, $color-primary-two);
    }
    .watch-list-line-paragraph{
        text-align: justify;
        line-height: $line-height;
    }
}
.watch-list-search{
        .watch-list-search-autocomplete{
            width: 80%;
            position: relative;
            display:flex;
            justify-content: center;
            align-items: center;
            margin: 30px auto;
            .watch-list-search-autocomplete-input{
                width: 100%;
                padding: 8px 20px;
                border-radius: 5px;
            }
            .watch-list-autocomplete-search-button{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                padding: 0 5px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-color: $color-primary-one;
            }
    }
}
.watch-list-table{
    background-color: $color-white;
    width: 100%;
    direction: ltr;

    th:nth-child(3),td:nth-child(3){
      display: none;
    }
    .watch-list-table-header{
      background-color: $color-primary-one;
      .watch-list-table-row{
        .watch-list-table-heading{
          border-bottom: 1px solid $color-secondary-light;
        padding: 10px;
        color: $color-white;
        text-align: center;
        }
      }

    }
    .watch-list-table-body{
      direction: rtl;
      .watch-list-table-row{
        .watch-list-table-description{
          padding: 10px 0;
          border-bottom: 1px solid $color-secondary-light;
          text-align: center;
        
          
          .watch-list-table-image{
            width: 22px;
            height: 22px;
            margin-right: 6px;
          }
          .watch-list-table-name{
            font-size: 15px;
            color: $color-secondary-dark;
          }
          .watch-list-table-price{
            color: $color-secondary-dark;
            font-size: 15px;
            margin-bottom: 10px;
            &.watch-list-table-price-dollar{
              direction: ltr;
              font-family:  Arial,'IranYekanFaNumbers';
              display: block;
            }
          }
          .watch-list-table-unit{
            font-size: 10px;
            display: block;
            padding-top: 4px;
            color: $color-secondary;
          }
          .watch-list-table-percent{
            padding: 6px 15px;
            border-radius: 30px;
            color: $color-white;
            font-size: 13px;
            margin: 5px 0;
            display: inline-block;
            direction: ltr;
            letter-spacing: 1px;
            &.watch-list-table-percent-ascending{
            background-color: lighten($color-green,10%);
            }
            &.watch-list-table-percent-descending{
              background-color:lighten($color-red,10%);
              }
            }
        }
    }
    }
}

@media only screen and (max-width:768px){
  th:last-child , td:last-child,
  th:nth-child(4) , td:nth-child(4),
  th:nth-child(5) , td:nth-child(5){
    display: none;
  }
  th:nth-child(3) , td:nth-child(3){
    display: table-cell !important;
  }
  .watch-list-table-unit{
    display: inline !important;
  }
}