<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارز توییت</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/article.min.css' %}" />

</head>

<body>
    <body>
        <!-- START PRELOADER -->
        <div class="preloader">
            <ul class="preloader-list">
                <li class="preloader-item"></li>
                <li class="preloader-item"></li>
                <li class="preloader-item"></li>
                <li class="preloader-item"></li>
                <li class="preloader-item"></li>
            </ul>
        </div>
        <!-- END PRELOADER -->

        <!-- START HEADER -->
        <header class="header" id="header">
            <div class="header-large ">
                <div class="container header-container">
                    <div class="row header-row">
                        <div class="col-lg-2 col-xl-1 logo-col wow animate__animated animate__jello" data-wow-duration="1.5s">
                            <div class="logo">
                                <a href="#" class="logo-link">
                                    <img src="{% static 'img/logo.png' %}" class="logo-image" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xl-8 main-menu-col">
                            <nav class="main-menu">
                                <ul class="main-menu-list">
                                    <li class="main-menu-item main-menu-item-active">
                                        <a href="#" class="main-menu-link">
                                            خانه
                                        </a>
                                    </li>
                                    <li class="main-menu-item">
                                        <a href="#" class="main-menu-link">
                                            توئیت
                                        </a>
                                    </li>
                                    <li class="main-menu-item">
                                        <a href="#" class="main-menu-link">
                                            رمز ارزها
                                        </a>
                                    </li>
                                    <li class="main-menu-item">
                                        <a href="#" class="main-menu-link">
                                            نقشه بازار
                                        </a>
                                    </li>
                                    <li class="main-menu-item">
                                        <a href="#" class="main-menu-link">
                                            دیده بان
                                        </a>
                                    </li>
                                    <li class="main-menu-item main-submenu">
                                        <a href="#" class="main-menu-link">
                                            محصولات
                                        </a>
                                        <ul class="main-submenu-list">
                                            <li class="main-submenu-item">
                                                <a href="#" class="main-submenu-link">
                                                    وی پی ان
                                                </a>
                                            </li>
                                            <li class="main-submenu-item">
                                                <a href="#" class="main-submenu-link">
                                                    محصولات آموزشی
                                                </a>
                                            </li>
                                            <li class="main-submenu-item">
                                                <a href="#" class="main-submenu-link">
                                                    سیگنال
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-menu-item">
                                        <a href="#" class="main-menu-link">
                                            مقالات
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 col-xl-3 login-register-col">
                            <div class="login-register">
                                <i class="fa fa-user login-register-icon"></i>
                                <a href="login-register.html" class="login-register-link">
                                    <span class="login-register-span">ورود</span>
                                </a>
                                <span class="login-register-span">|</span>
                                <a href="login-register.html" class="login-register-link">
                                    <span class="login-register-span">ثبت نام</span>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-3 col-xl-3 account-col">
                            <div class="account">
                                <div class="account-panel">
                                    <div class="account-collapse" id="account-collapse">
                                        <button class="account-collapse-button" id="account-button">
                                            <img src="{% static 'img/default-user.jpg' %}" class="account-collapse-image" />
                                        </button>
                                    </div>
                                    <div class="account-content" id="account-content">
                                        <ul class="account-content-list">
                                            <li class="account-content-item">
                                                Mohammad عزیز
                                                <br>
                                                خوش آمدید
                                            </li>
                                            <li class="account-content-item">
                                                امتیاز شما : 80
                                            </li>
                                            <li class="account-content-item">
                                                خروج از حساب
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="account-cart">
                                    <a href="#" class="account-cart-link">
                                        <i class="fas fa-shopping-cart account-cart-icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="header-medium">
                <div class="container header-container">
                    <div class="row header-row">
                        <div class="col-3 col-sm-4 col-md-4">
                            <nav class="responsive-menu" id="responsiveMenu">
                                <div class="responsive-menu-header">
                                    <img src="{% static 'img/logo.png' %}" class="responsive-menu-header-image" />
                                    <button class="responsive-menu-header-button" id="closeNav">
                                        <i class="fa fa-dates responsive-menu-header-icon"></i>
                                    </button>
                                </div>
                                <div class="responsive-menu-content">
                                    <ul class="responsive-menu-content-list">
                                        <li class="responsive-menu-content-item">
                                            <a href="#" class="responsive-menu-content-link">خانه</a>
                                        </li>
                                        <li class="responsive-menu-content-item">
                                            <a href="#" class="responsive-menu-content-link">توییت</a>
                                        </li>
                                        <li class="responsive-menu-content-item">
                                            <a class="responsive-menu-content-link">رمزارزها</a>
                                        </li>
                                        <li class="responsive-menu-content-item">
                                            <a href="#" class="responsive-menu-content-link">نقشه بازار</a>
                                        </li>
                                        <li class="responsive-menu-content-item">
                                            <a href="#" class="responsive-menu-content-link">دیده بان</a>
                                        </li>
                                        <li class="responsive-menu-content-item responsive-submenu-content">
                                            <a href="#" class="responsive-menu-content-link">محصولات</a>
                                            <ul class="responsive-submenu-content-list">
                                                <li class="responsive-submenu-content-item">
                                                    <a class="responsive-submenu-content-link">وی پی ان</a>
                                                </li>
                                                <li class="responsive-submenu-content-item">
                                                    <a class="responsive-submenu-content-link">محصولات آموزشی</a>
                                                </li>
                                                <li class="responsive-submenu-content-item">
                                                    <a class="responsive-submenu-content-link">سیگنال</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="responsive-menu-content-item">
                                            <a href="#" class="responsive-menu-content-link">مقالات</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="responsive-menu-overlay" id="overlay"></div>
                            <button class="responsive-menu-button" id="openNav">
                                <i class="fa fa-bars responsive-menu-icon"></i>
                            </button>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="logo">
                                <a href="#" class="logo-link">
                                    <img src="{% static 'img/logo.png' %}" class="logo-image" />
                                </a>
                            </div>
                        </div>
                        <div class="col-5 col-sm-4 col-md-4">
                            <div class="login-register">
                                <i class="fa fa-user login-register-icon"></i>
                                <a href="login-register.html" class="login-register-link">
                                    <span class="login-register-span">ورود</span>
                                </a>
                                <span class="login-register-span">|</span>
                                <a href="login-register.html" class="login-register-link">
                                    <span class="login-register-span">ثبت نام</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER -->

    <div class="page-wrapper">
        <section class="article">
            <div class="container article-container">
                <div class="row article-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 article-right-col">
                        <div class="article-right">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 article-left-col">
                        <div class="article-left">
                            <h1 class="article-left-heading-one">بیت کوین چیست؟ همه چیز درباره بیت کوین</h1>
                            <div class="article-left-image-wrapper">
                                <img src="{% static 'pic/article-1.jpg' %}" class="article-left-image" />
                            </div>
                            <div class="article-left-cannibalization">
                                <p class="article-left-cannibalization-paragraph">آنچه در این مقاله می خوانید</p>
                                <ul class="article-left-cannibalization-list">
                                </ul>
                            </div>
                            <h2 class="article-left-heading-two">همه چیز از سال ۲۰۰۸ و انتشار مقاله‌ای که نوعی
                                پول
                                الکترونیک به نام بیت کوین در آن معرفی شده بود آغاز شد. هویت ناشناسی به نام ساتوشی
                                ناکاموتو
                                آغازگر انقلابی بود که سال‌ها بعد به تیتر اول رسانه‌ها تبدیل شد و اقتصاددانان را به
                                بحث‌های
                                نظری گسترده درباره آن وادار کرد.
                            </h2>
                            <div class="article-left-description">
                                <p>
                                    بیت کوین (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                </p>
                                <h3>لورم اپیسوم 1</h3>
                                <p>
                                    بیت کوین (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                </p>
                                <img src="{% static 'pic/article-3.jpg' %}" />
                                <h3>لورم اپیسوم 2</h3>
                                <p>
                                    <a href="#">بیت کوین</a> (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                </p>
                                <h3>لورم اپیسوم 3</h3>
                                <p>
                                    بیت کوین (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                </p>
                                <h3>لورم اپیسوم 4</h3>
                                <p>
                                    بیت کوین (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                    بیت کوین (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                    بیت کوین (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                    بیت کوین (bitcoin) نوعی ارز دیجیتال است که می‌توانید با آن خرید کنید، سفارش‌ آنلاین
                                    انجام
                                    دهید، به هر کسی که دوست دارید در هر نقطه از جهان پول بفرستید یا حتی آن را به عنوان
                                    نوعی
                                    سرمایه‌گذاری در نظر بگیرید.
                                    احتمالا همراه با افزایش قیمت‌ وسوسه‌انگیز ارزهای دیجیتال، در اخبار و فضای مجازی
                                    درباره‌
                                    پادشاه ارزهای دیجیتال چیزهایی شنیده باشید و در میان گشت‌وگذارتان در سایت‌‌های مختلف
                                    با
                                    مطالبی تحت عنوان اینکه بیتکوین چیست و یا چطور می‌توانید بیت‌کوین رایگان به دست
                                    بیاورید،
                                    برخورد داشته‌اید.
                                </p>
                            </div>
                            <div class="article-left-tags">
                                <h5 class="article-left-tags-heading-five">
                                    برچسب ها
                                </h5>
                                <ul class="article-left-tags-list">
                                    <li class="article-left-tags-item">
                                        ارز دیجیتال
                                    </li>
                                    <li class="article-left-tags-item">
                                        بیت کوین
                                    </li>
                                    <li class="article-left-tags-item">
                                        بلاک چین
                                    </li>
                                </ul>
                            </div>
                            <div class="article-left-comments">
                                <div class="article-left-comments-send">
                                    <h5 class="article-left-comments-send-heading-five">
                                      دیدگاه خود را با ما به اشتراک بگذارید
                                    </h5>
                                    <form action="" method="">
                                        <textarea placeholder="متن دیدگاه" class="article-left-comments-send-text-area"></textarea>
                                        <button type="submit" class="article-left-comments-send-submit"> ارسال دیدگاه</button>
                                    </form>
                                </div>
                                <ul class="article-left-comments-list">
                                    <li class="article-left-comments-item">
                                        <div class="article-left-comments-header">
                                            <div class="article-left-comments-header-right">
                                                <img src="{% static 'img/default-user.jpg' %}"
                                                    class="article-left-comments-header-right-image" />
                                            </div>
                                            <div class="article-left-comments-header-left">
                                                <span class="article-left-comments-header-left-name">مسعود
                                                    جهانی</span>
                                                <span
                                                    class="article-left-comments-header-left-date">1397/05/02</span>
                                            </div>
                                        </div>
                                        <div class="article-left-comments-content">
                                            <p class="article-left-comments-content-paragraph">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
                                                درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
                                                نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                                داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
                                                رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                            </p>
                                        </div>
                                        <div class="article-left-comments-footer">
                                            <i class="fa fa-reply article-left-comments-footer-icon"></i>
                                        </div>   
                                        <div class="article-left-comments-reply">
                                            <ul class="article-left-comments-reply-list">
                                                <li class="article-left-comments-reply-item">
                                                    <div class="article-left-comments-reply-header">
                                                        <div class="article-left-comments-reply-header-right">
                                                            <img src="{% static 'img/default-user.jpg' %}"
                                                                class="article-left-comments-reply-header-right-image" />
                                                        </div>
                                                        <div class="article-left-comments-reply-header-left">
                                                            <span class="article-left-comments-reply-header-left-name">مسعود
                                                                جهانی</span>
                                                            <span
                                                                class="article-left-comments-reply-header-left-date">1397/05/02</span>
                                                        </div>
                                                    </div>
                                                    <div class="article-left-comments-reply-content">
                                                        <p class="article-left-comments-reply-content-paragraph">
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                            از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                                            متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
                                                            درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
                                                            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                            خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                                            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
                                                            رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                                                            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="article-left-comments-reply-item">
                                                    <div class="article-left-comments-reply-header">
                                                        <div class="article-left-comments-reply-header-right">
                                                            <img src="{% static 'img/default-user.jpg' %}"
                                                                class="article-left-comments-reply-header-right-image" />
                                                        </div>
                                                        <div class="article-left-comments-reply-header-left">
                                                            <span class="article-left-comments-reply-header-left-name">مسعود
                                                                جهانی</span>
                                                            <span
                                                                class="article-left-comments-reply-header-left-date">1397/05/02</span>
                                                        </div>
                                                    </div>
                                                    <div class="article-left-comments-reply-content">
                                                        <p class="article-left-comments-reply-content-paragraph">
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                            از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                                            متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
                                                            درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
                                                            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                            خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                                            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
                                                            رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                                                            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                 
                                        </div>
                                    </li>
                                    <li class="article-left-comments-item">
                                        <div class="article-left-comments-header">
                                            <div class="article-left-comments-header-right">
                                                <img src="{% static 'img/default-user.jpg' %}"
                                                    class="article-left-comments-header-right-image" />
                                            </div>
                                            <div class="article-left-comments-header-left">
                                                <span class="article-left-comments-header-left-name">مسعود
                                                    جهانی</span>
                                                <span
                                                    class="article-left-comments-header-left-date">1397/05/02</span>
                                            </div>
                                        </div>
                                        <div class="article-left-comments-content">
                                            <p class="article-left-comments-content-paragraph">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
                                                درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
                                                نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                                داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
                                                رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                            </p>
                                        </div>
                                        <div class="article-left-comments-footer">
                                            <i class="fa fa-reply article-left-comments-footer-icon"></i>
                                        </div>   
                                        <div class="article-left-comments-reply">
                                            <ul class="article-left-comments-reply-list">
                                                <li class="article-left-comments-reply-item">
                                                    <div class="article-left-comments-reply-header">
                                                        <div class="article-left-comments-reply-header-right">
                                                            <img src="{% static 'img/default-user.jpg' %}"
                                                                class="article-left-comments-reply-header-right-image" />
                                                        </div>
                                                        <div class="article-left-comments-reply-header-left">
                                                            <span class="article-left-comments-reply-header-left-name">مسعود
                                                                جهانی</span>
                                                            <span
                                                                class="article-left-comments-reply-header-left-date">1397/05/02</span>
                                                        </div>
                                                    </div>
                                                    <div class="article-left-comments-reply-content">
                                                        <p class="article-left-comments-reply-content-paragraph">
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                            از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                                            متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
                                                            درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
                                                            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                            خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                                            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
                                                            رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                                                            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="article-left-comments-reply-item">
                                                    <div class="article-left-comments-reply-header">
                                                        <div class="article-left-comments-reply-header-right">
                                                            <img src="{% static 'img/default-user.jpg' %}"
                                                                class="article-left-comments-reply-header-right-image" />
                                                        </div>
                                                        <div class="article-left-comments-reply-header-left">
                                                            <span class="article-left-comments-reply-header-left-name">مسعود
                                                                جهانی</span>
                                                            <span
                                                                class="article-left-comments-reply-header-left-date">1397/05/02</span>
                                                        </div>
                                                    </div>
                                                    <div class="article-left-comments-reply-content">
                                                        <p class="article-left-comments-reply-content-paragraph">
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                            از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                                            متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
                                                            درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
                                                            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                            خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                                            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
                                                            رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                                                            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                 
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- START FOOTER -->
    <footer class="footer" id="footer">
        <div class="footer-top">
            <div class="container footer-container">
                <div class="row footer-top-row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 footer-right-col">
                        <div class="footer-right">
                            <img src="{% static 'img/logo.png' %}" class="footer-right-image" alt="ارز توییت" />
                            <p class="footer-right-paragraph">
                                رمز ارز شبکه هوشمند سرمایه گذاری است که تلاش دارد با ارائه خدمات مناسب،سرمایه گذاری را
                                برای سرمایه گذاران آسان کند.سامانه معاملات آنلاین رمز ارز با همکاری کارگزاری تدبیرگران
                                فردا راه اندازی شده است.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 footer-center-col">
                        <div class="footer-center">
                            <h4 class="footer-center-heading-four">دسترسي سريع</h4>
                            <ul class="footer-center-list">
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        صفحه اصلي
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        توییت
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        محصولات
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        نقشه بازار
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        دیده بان
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 footer-left-col">
                        <div class="footer-left">
                            <div class="footer-left-social-networks">
                                <i class="fa fa-telegram footer-left-social-networks-icon"></i>
                                <i class="fa fa-instagram footer-left-social-networks-icon"></i>
                                <i class="fa fa-twitter footer-left-social-networks-icon"></i>
                            </div>
                            <div class="footer-left-contact">
                                <h4 class="footer-left-contact-heading-four">ارتباط با ما</h4>
                                <ul class="footer-left-contact-list">
                                    <li class="footer-left-contact-item">
                                        <i class="fas fa-map-marker-alt footer-left-contact-icon"></i>
                                        <span class="footer-left-contact-span">تهران،امير آباد،خيابان ثاني</span>
                                    </li>
                                    <li class="footer-left-contact-item">
                                        <i class="fas fa-phone footer-left-contact-icon"></i>
                                        <span class="footer-left-contact-span">09125412130</span>
                                    </li>
                                    <li class="footer-left-contact-item">
                                        <i class="fas fa-envelope footer-left-contact-icon"></i>
                                        <span class="footer-left-contact-span">info@ramzarz.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom-paragraph">
                <span class="footer-bottom-copyright">&copy;</span>
                تمامی حقوق برای سایت ارز توییت محفوظ است و بازنشر محتوا با ذکر منبع بلامانع است.
            </p>
        </div>
    </footer>
    <!-- END FOOTER -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/poper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/article.js' %}"></script>
</body>

</html>
