{% extends 'base.html' %}
{% load static %}


{% block header %}
    <title>ارز توییتر</title>
    <link rel="stylesheet" href="{% static 'css/article.min.css' %}" />
{% endblock header %}





{% block page %}

    <div class="page-wrapper">
        <section class="article">
            <div class="container article-container">
                <div class="row article-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 article-right-col">
                        <div class="article-right">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 article-left-col">
                        <div class="article-left">
                            <h1 class="article-left-heading-one">{{article.title}}</h1>
                            <div class="article-left-image-wrapper">
                                <img src="{{article.image.url}}" class="article-left-image" />
                            </div>

                            {% if article.has_menu %}
                            <div class="article-left-cannibalization">

                                <p class="article-left-cannibalization-paragraph">آنچه در این مقاله می خوانید</p>

                                <ul class="article-left-cannibalization-list">
                                </ul>

                            </div>
                            {% endif %}
                            
                            <div class="article-left-description">
                                {{article.content | safe}}
                            </div>
                            <div class="article-left-tags">
                                <h5 class="article-left-tags-heading-five">
                                    برچسب ها
                                </h5>
                                <ul class="article-left-tags-list">
                                {% for tag in article.split_tags %}
                                    <li class="article-left-tags-item">
                                        {{tag}}
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="article-left-comments">
                                <div class="article-left-comments-send">
                                    <h5 class="article-left-comments-send-heading-five">
                                      دیدگاه خود را با ما به اشتراک بگذارید
                                    </h5>
                                    <form action="{% url 'article_comment' article.id %}" method="POST">
                                        {% csrf_token %}
                                        <textarea name="text" placeholder="متن دیدگاه" class="article-left-comments-send-text-area"></textarea>
                                        <button type="submit" class="article-left-comments-send-submit"> ارسال دیدگاه</button>
                                    </form>
                                </div>
                                <ul class="article-left-comments-list">

                                {% for comment in article.article_comment_set.all %}
                                {% if not comment.reply_to %}
                                    <li class="article-left-comments-item">
                                        <div class="article-left-comments-header">
                                            <div class="article-left-comments-header-right">
                                                <img src="{{comment.user.image.url}}"
                                                    class="article-left-comments-header-right-image" />
                                            </div>
                                            <div class="article-left-comments-header-left">
                                                <span class="article-left-comments-header-left-name">{{comment.user.name}}</span>
                                                <span
                                                    class="article-left-comments-header-left-date">{{comment.shamsi_date}}</span>
                                            </div>
                                        </div>
                                        <div class="article-left-comments-content">
                                            <p class="article-left-comments-content-paragraph">
                                                {{comment.text | linebreaksbr}}
                                            </p>
                                        </div>
                                        <div class="article-left-comments-footer">
                                            <i class="fa fa-reply article-left-comments-footer-icon" id="{{comment.id}}"></i>
                                        </div>   
                                        <div class="article-left-comments-reply">
                                            <ul class="article-left-comments-reply-list">

                                            {% for reply in comment.replies_in.all %}
                                                <li class="article-left-comments-reply-item">
                                                    <div class="article-left-comments-reply-header">
                                                        <div class="article-left-comments-reply-header-right">
                                                            <img src="{{reply.user.image.url}}"
                                                                class="article-left-comments-reply-header-right-image" />
                                                        </div>
                                                        <div class="article-left-comments-reply-header-left">
                                                            <span class="article-left-comments-reply-header-left-name">{{reply.user.name}}</span>
                                                            <span
                                                                class="article-left-comments-reply-header-left-date">{{reply.shamsi_date}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="article-left-comments-reply-content">
                                                        <p class="article-left-comments-reply-content-paragraph">
                                                            {{reply.text | linebreaksbr}}
                                                        </p>
                                                    </div>
                                                </li>
                                            {% endfor %}

                                            </ul>
                                 
                                        </div>
                                    </li>
                                {% endif %}
                                {% endfor %}
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock page %}


 
 
{% block scripts %}
    <script src="{% static 'js/article.js' %}"></script>
{% endblock scripts %}

