{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block header %}{% endblock header %}
</head>

<body>
       <!-- START PRELOADER 
    <div class="preloader">
        <ul class="preloader-list">
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
        </ul>
    </div>
     END PRELOADER -->

    <!-- START HEADER -->
    <header class="header">
        <div id="header" class="header-top">
            <div class="header-large ">
                <div class="container header-container">
                    <div class="row header-row">
                        <div class="col-lg-2 col-xl-1 logo-col">
                            <div class="logo"><a href="{% url 'home' %}" class="logo-link"><img src="{% static 'img/logo.png' %}"
                                        class="logo-image" /></a></div>
                        </div>
                        <div class="col-lg-7 col-xl-8 main-menu-col">
                            <nav class="main-menu">
                                <ul class="main-menu-list">
                                    <li class="main-menu-item main-menu-item-active"><a href="{% url 'home' %}"
                                            class="main-menu-link">خانه
                                        </a></li>
                                    <li class="main-menu-item"><a href="{% url 'tweets' %}" class="main-menu-link">توئیت </a></li>
                                    <li class="main-menu-item"><a href="{% url 'list_currencies' 1 %}" class="main-menu-link">رمز ارزها </a></li>
                                    <li class="main-menu-item"><a href="{% url 'cryptomarket' %}" class="main-menu-link">نقشه بازار </a></li>
                                    <li class="main-menu-item"><a href="{% url 'watch_list_page' %}" class="main-menu-link">دیده بان </a></li>
                                    <li class="main-menu-item"><a class="main-menu-link" href="{% url 'products_page' %}">محصولات</a>
                                        <!--<ul class="main-submenu-list">
                                            {% for group in product_groups %}
                                                <li class="main-submenu-item"><a href="{% url 'products_page' %}#{{group.name}}" class="main-submenu-link">{{group.name}}
                                                    </a></li>
                                            {% endfor %}
                                        </ul>-->
                                    </li>
                                    <li class="main-menu-item"><a href="{% url 'articles' %}" class="main-menu-link">مقالات </a></li>
                                </ul>
                            </nav>
                        </div>
                        {% if not user.is_authenticated %}
                        <div class="col-lg-3 col-xl-3 login-register-col">
                            <div class="login-register">
                                <i class="fa fa-user login-register-icon"></i>
                                <a href="{% url 'login' %}" class="login-register-link"><span class="login-register-title">ورود</span></a>
                                <span class="login-register-seprator">|</span>
                                <a href="{% url 'register' %}" class="login-register-link"><span class="login-register-title">ثبت نام</span></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-3 col-xl-3 login-register-col">
                            <div class="login-register">
                                <i class="fa fa-user login-register-icon"></i>
                                <a href="{% url 'dashboard' %}" class="login-register-link"><span class="login-register-title">پنل کاربری</span></a>
                                <span style="color:white">|</span>
                                <a href="{% url 'cart' %}" class="login-register-link"><span dir="ltr" class="login-register-title">({{user.cart_counter}})سبد خرید</span></a>
                            </div>
                        </div>
                    {% endif %}
                        </div>
                    </div>
                </div>
            
            <div class="header-medium">
                <div class="container header-container">
                    <div class="row header-row">
                        <div class="col-4 col-sm-6 col-md-6">
                            <nav class="responsive-menu" id="responsiveMenu">
                                <div class="responsive-menu-header"><img src="{% static 'img/logo.png' %}"
                                        class="responsive-menu-header-image" /><button
                                        class="responsive-menu-header-button" id="closeNav"><i
                                            class="fa fa-times responsive-menu-header-icon"></i></button></div>
                                <div class="responsive-menu-content">
                                    <ul class="responsive-menu-content-list">
                                        <li class="responsive-menu-content-item"><a href="{% url 'home' %}"
                                                class="responsive-menu-content-link">خانه</a></li>
                                        <li class="responsive-menu-content-item"><a href="{% url 'tweets' %}"
                                                class="responsive-menu-content-link">توییت</a></li>
                                        <li class="responsive-menu-content-item"><a href="{% url 'list_currencies' 1 %}"
                                                class="responsive-menu-content-link">رمزارزها</a></li>
                                        <li class="responsive-menu-content-item"><a href="{% url 'cryptomarket' %}"
                                                class="responsive-menu-content-link">نقشه بازار</a></li>
                                        <li class="responsive-menu-content-item"><a href="{% url 'watch_list_page' %}"
                                                class="responsive-menu-content-link">دیده بان</a></li>
                                        <li class="responsive-menu-content-item"><a href="{% url 'products_page' %}"
                                                class="responsive-menu-content-link">محصولات</a>
                                            <!--<ul class="responsive-submenu-content-list">
                                                {% for group in product_groups %}
                                                    <li class="responsive-submenu-content-item"><a href="{% url 'products_page' %}#{{group.name}}" class="responsive-submenu-content-link">{{group.name}}
                                                        </a></li>
                                                {% endfor %}
                                            </ul>-->
                                        </li>
                                        <li class="responsive-menu-content-item"><a href="{% url 'articles' %}"
                                                class="responsive-menu-content-link">مقالات</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="responsive-menu-overlay" id="overlay"></div><button
                                class="responsive-menu-button" id="openNav"><i
                                    class="fa fa-bars responsive-menu-icon"></i></button>
                        </div>
                        {% if not user.is_authenticated %}
                            <div class="col-8 col-sm-6 col-md-6">
                                <div class="login-register"><i class="fa fa-user login-register-icon"></i><a
                                        href="{% url 'login' %}" class="login-register-link"><span
                                            class="login-register-title">ورود</span></a><span
                                        class="login-register-seprator">|</span><a href="{% url 'register' %}"
                                        class="login-register-link"><span class="login-register-title">ثبت نام</span></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-8 col-sm-6 col-md-6">
                            <div class="login-register"><i class="fa fa-user login-register-icon"></i>
                            <a href="{% url 'dashboard' %}" class="login-register-link"><span class="login-register-title">پنل کاربری</span></a>
                            <span style="color:white">|</span>
                            <a href="{% url 'cart' %}#carts" class="login-register-link"><span dir="ltr" class="login-register-title">({{user.cart_counter}})سبد خرید</span></a>
                            </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </div>
            {% block banner %}{% endblock banner %}
        </div>
        
    </header>
    <!-- END HEADER -->

{% block page %}{% endblock page %}


    <!-- START FOOTER -->
    <footer class="footer" id="footer">
        <div class="footer-top">
            <div class="container footer-container">
                <div class="row footer-top-row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 footer-right-col">
                        <div class="footer-right"><img src="{% static 'img/logo.png' %}" class="footer-right-image" alt="ارز توییت" />
                            <p class="footer-right-paragraph">{{footer_text}}</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl- footer-left-col">
                        <div class="footer-left">
                            <div class="footer-left-social-networks"><a href="https://t.me/arztwittercom"
                                    class="footer-left-social-networks-link"><i
                                        class="fa fa-telegram footer-left-social-networks-icon"></i></a><a href="https://www.instagram.com/arztwitter/" 
                                    class="footer-left-social-networks-link"><i
                                        class="fa fa-instagram footer-left-social-networks-icon"></i></a><a href="https://twitter.com/Arztwiter" 
                                    class="footer-left-social-networks-link"><i
                                        class="fa fa-twitter footer-left-social-networks-icon"></i></a><a href="http://youtube.com/arztwitter" 
                                    class="footer-left-social-networks-link"><i
                                        class="fa fa-youtube footer-left-social-networks-icon"></i></a>
                            </div>
                            <div class="footer-left-contact">
                                <h4 class="footer-left-contact-heading-four">ارتباط با ما</h4>
                                <ul class="footer-left-contact-list">
                                    <li class="footer-left-contact-item"><i
                                            class="fa fa-map-marker footer-left-contact-icon"></i><span
                                            class="footer-left-contact-span">تهران،امير آباد،خيابان ثاني</span></li>
                                    <li class="footer-left-contact-item"><i
                                            class="fa fa-phone footer-left-contact-icon"></i><span
                                            class="footer-left-contact-span">09125412130</span></li>
                                    <li class="footer-left-contact-item"><i
                                            class="fa fa-envelope footer-left-contact-icon"></i><span
                                            class="footer-left-contact-span">support@arztwitter.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom-paragraph"><span class="footer-bottom-copyright">&copy;</span>تمامی حقوق برای سایت
                ارز توييتر محفوظ است و بازنشر محتوا با ذکر منبع بلامانع است. </p>
        </div>
    </footer>
    <!-- END FOOTER -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/poper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
{% block scripts %}{% endblock scripts %}
</body>

</html>