{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>ارز توییت</title>
    <link rel="stylesheet" href="{% static 'css/cryptomarket.min.css' %}" />
{% endblock header %}


{% block page %}

    <div class="page-wrapper">
        <section class="cryptomarket">
            <div class="container cryptomarket-container">
          <h2 class="cryptomarket-heading-two">نقشه بازار</h2>
                <iframe class="cryptomarket-frame" src="https://coin360.com/" frameborder="0"></iframe>
            </div>
        </section>
    </div>

{% endblock page %}

{% block scripts %}
    <script src="{% static 'js/typed.min.js' %}"></script>
{% endblock scripts %}
