{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>ارز توييتر</title>
    <link rel="stylesheet" href="{% static 'css/tweet.min.css' %}" />

    <style>
        .tweet-content-center {
            height: 600px;
            overflow: scroll;
        }

        .tweet-content-center::-webkit-scrollbar {
            width: 6px;
            background-color: white;
        }

        .tweet-content-center::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        .tweet-content-center::-webkit-scrollbar-thumb {
            background: #ddd;
            border-radius: 2px;
            transition: all ease .5s;
        }
    </style>
    <style>
        .bold{
            color: #222;
        }
        .nobold{
            color: #aaa;
        }
        input{
            outline: none;
            background-color: white !important;
            display: block !important;
            margin: auto !important;
            width: 100% !important;
        }
        .autocomplete {
      /*the container must be positioned relative:*/
      position: relative;
      display:flex;
      justify-self: center;
      text-align: center;
      margin: 30px auto;
      width: 50%;
    }
    input {
      border: 1px solid transparent;
      padding: 10px;
      font-size: 16px;
    }
    input[type=text] {
      background-color: #f1f1f1;
    }
    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
    }
    .autocomplete-items {
      position: absolute;
      z-index: 99;
      border: none;
      top: 10%;
      width: 100%;
      margin-top: 2px;
      max-height: 217px;
     overflow-y: auto;
    }
    .autocomplete-items::-webkit-scrollbar {
        width: 8px;
        background-color: #fff;
    }
    
    .autocomplete-items::-webkit-scrollbar-track {
        border-radius: 2px;
    }
    
    .autocomplete-items::-webkit-scrollbar-thumb {
        background: #c8c8c8;
        border-radius: 2px;
        transition: all ease .5s;
    }
    
    .autocomplete-items::-webkit-scrollbar-thumb:hover {
        background: #c2c2c2;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    text-align: center;
    }
    .autocomplete-items div img{
      margin-left: 8px;
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: #FCC81D !important;
      color: #ffffff;
    }
    .autocomplete-list{
        border: 1px solid #ccc;
    }
    </style>

{% endblock header %}


{% block page %}

    <section class="tweet">
        <div class="container-fluid">

            <div class="tweet-header">
                <div class="tweet-header-top-cryptocurrency">
                    <ul class="tweet-header-top-cryptocurrency-list">

                        {% for curr in top_curs %}
                            <li class="tweet-header-top-cryptocurrency-item">
                                <a href="{% url 'curr_tweets' curr.name %}" class="tweet-header-top-cryptocurrency-link">
                                    <img src="{{curr.image_url}}" class="tweet-header-top-cryptocurrency-image" alt="بیت کوین" />
                                    <span class="tweet-header-top-cryptocurrency-name">{{curr.persian_name}}</span>
                                </a>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </div>
                <div class="tweet-header-details">
                    <div class="tweet-header-details-specifications">
                        <img src="{{currency.image_url}}" class="tweet-header-details-specifications-image" />
                        <span class="tweet-header-details-specifications-name">{{currency.persian_name}} ({{currency.symbol}})</span>
                        <div class="tweet-header-details-specifications-price">
                            <span class="tweet-header-details-specifications-price-title">قیمت : </span>
                            <span class="tweet-header-details-specifications-price-value">{{currency.price}} دلار</span>
                            <span class="tweet-header-details-specifications-price-value">{{currency.price}} ريال</span>
                        </div>
                    </div>
                    <div class="tweet-header-details-statistics">
                        <ul class="tweet-header-details-statistics-list">
                            <li class="tweet-header-details-statistics-item">
                                <span class="tweet-header-details-statistics-title">حجم معاملات : </span>
                                <span class="tweet-header-details-statistics-value">54,202,000,000 $</span>
                            </li>
                            <li class="tweet-header-details-statistics-item">
                                <span class="tweet-header-details-statistics-title">سود و زيان هفتگي :</span>
                                <span class="tweet-header-details-statistics-value tweet-header-details-statistics-value-positive">11.23%</span>
                            </li>
                            <li class="tweet-header-details-statistics-item">
                                <span class="tweet-header-details-statistics-title">سود و زيان ماهانه :</span>
                                <span class="tweet-header-details-statistics-value tweet-header-details-statistics-value-negative">-1.1%</span>
                            </li>
                            <li class="tweet-header-details-statistics-item">
                                <span class="tweet-header-details-statistics-title">ارزش بازار :</span>
                                <span class="tweet-header-details-statistics-value">982 ميليارد دلار</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tweet-header-details-chart">
                        <img src="https://static.coin360.com/images/graph/coin/table/bitcoin.png" class="tweet-header-details-chart-image" alt="بيت كوين" />
                    </div>
                </div>
            </div>

            <div class="tweet-header">
                <div class="tweet-header-search">
                </div>
                <div class="tweet-header-details">

                </div>
            </div>
            <div class="tweet-content">
                <div class="row">
                    <div class="'col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="tweet-content-right">
                            <h2 class="tweet-content-right-heading-two">محصولات</h2>
                            <div class="tweet-content-right-products">
                                <ul class="tweet-content-right-products-list">
                                    <li class="tweet-content-right-products-item">
                                        <a class="tweet-content-right-products-link">اختصاصی معاملاتی</a>
                                    </li>
                                    <li class="tweet-content-right-products-item" data-toggle="collapse"
                                        data-target="#question-1">
                                        <a href="#" class="tweet-content-right-products-link">
                                            سبد پیشنهادی
                                            <i class="fa fa-plus tweet-content-right-products-icon"></i>
                                        </a>
                                        <ul class="tweet-content-right-products-sub-list collapse" id="question-1">
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">سبد بلند مدت</a>
                                            </li>
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">سبد میان مدت</a>
                                            </li>
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">سبد کوتاه مدت</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="tweet-content-right-products-item">
                                        <a class="tweet-content-right-products-link">کیف پول فیزیکی</a>
                                    </li>
                                    <li class="tweet-content-right-products-item" data-toggle="collapse"
                                        data-target="#question-2">
                                        <a href="#" class="tweet-content-right-products-link">
                                            محصولات آموزشی
                                            <i class="fa fa-plus tweet-content-right-products-icon"></i>
                                        </a>
                                        <ul class="tweet-content-right-products-sub-list collapse" id="question-2">
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">تحلیل تکنیکال</a>
                                            </li>
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">تحلیل بنیادی</a>
                                            </li>
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">تحلیل کلاسیک</a>
                                            </li>
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">روانشناسی بازار</a>
                                            </li>
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">استراتژی معاملاتی</a>
                                            </li>
                                            <li class="tweet-content-right-products-sub-item">
                                                <a class="tweet-content-right-products-link">کتاب های آموزشی</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="tweet-content-center">

                            <form action="{% url 'tweet' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input name="currency" id="autocompleteInput" type="text" hidden value={{currency.name}}>
                                <input name="curr_tweet" id="autocompleteInput" type="text" hidden value={{currency.name}}>
                                <div class="tweet-content-center-comment">
                                    <textarea name="text" class="tweet-content-center-comment-text-area" placeholder="نظرات،تحلیل ها،اخبار،شنیده ها و سوالات خود را با ما به اشتراک بگذارید."></textarea>
                                    <button class="tweet-content-center-comment-submit" type="submit">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                        <label for="image" class="tweet-content-center-comment-label">
                                        پیوست
                                        </label>
                                        <input name="file" type="file" class="tweet-content-center-comment-input-file" id="image" />
                                </div>
                            </form>

                            <div class="tweet-content-center-boxes-wrapper">

                            {% for tweet in tweets %}
                                <div id="tweet-{{tweet.id}}" class="tweet-content-center-boxes">
                                    {% if tweet.retwit %}
                                        <div class="tweet-content-center-boxes-parent">
                                            <a href="#tweet-{{tweet.reply_to.id}}" class="tweet-content-center-boxes-parent-link tweet-scroll">
                                                <div class="tweet-content-center-boxes-parent-header">
                                                    <img src="{{tweet.reply_to.user.image.url}}"
                                                        class="tweet-content-center-boxes-parent-header-image" />
                                                    <span class="tweet-content-center-boxes-parent-user-name">{{tweet.reply_to.user.name}}</span>
                                                </div>
                                                <div class="tweet-content-center-boxes-parent-body">
                                                    <p class="tweet-content-center-boxes-parent-body-paragraph">
                                                    {{tweet.reply_to.text}}
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="tweet-content-center-boxes-header">
                                        <div class="tweet-content-center-boxes-header-right">
                                            <img class="tweet-content-center-boxes-header-image-1" src="{{tweet.user.image.url}}"
                                            alt="کاربر پیش فرض">
                                        <span class="tweet-content-center-boxes-user-name">{{tweet.user.name}}</span>
                                        <span class="tweet-content-center-boxes-header-time">{{tweet.shamsi_date}}</span>
                                        </div>
                                        <div class="tweet-content-center-boxes-header-left">
                                            <a class="" data-toggle="collapse" data-target="#tweet-report-{{tweet.id}}">
                                                <i class="fa fa-ellipsis-v tweet-content-center-boxes-header-icon"></i>
                                            </a>
                                            <img src="{{tweet.currency.image_url}}" class="tweet-content-center-boxes-header-image-2" style="width:30%"/>
                                            <div class="tweet-content-center-boxes-header-report collapse"
                                                id="tweet-report-{{tweet.id}}">
                                                <ul class="tweet-content-center-boxes-header-report-list">
                                                    <li class="tweet-content-center-boxes-header-report-item">
                                                        <a href="">
                                                            <i class="fa fa-ban"></i>
                                                            توهین و الفاظ رکیک
                                                        </a>
                                                    </li>
                                                    <li class="tweet-content-center-boxes-header-report-item">
                                                        <a href="">
                                                            <i class="fa fa-exclamation-circle"></i>
                                                            توییت تکراری
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tweet-content-center-boxes-body">
                                        <p class="tweet-content-center-boxes-body-paragraph">
                                            {{tweet.text | linebreaksbr}}
                                        </p>
                                        {% if tweet.File %}
                                            {% if tweet.has_image %}
                                                <img src="{{tweet.File.url}}" class="tweet-content-center-boxes-body-image" />
                                            {% else %}
                                                <div class="tweet-content-center-boxes-body-file">
                                                    <a href="{{tweet.File.url}}" class="tweet-content-center-boxes-body-file-link" download>
                                                    <i class="fa fa-file-o tweet-content-center-boxes-body-file-icon"></i>
                                                        دانلود فايل        {{tweet.File.name}}
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="tweet-content-center-boxes-footer">
                                        <div class="tweet-content-center-boxes-footer-like">
                                            <a onclick="like_tweet({{tweet.id}})" href="#" class="tweet-content-center-boxes-footer-like-link">
                                                {% if user in tweet.likes.all %}
                                                    <i id="like_icon_{{tweet.id}}" class="fa fa-heart tweet-content-center-boxes-footer-like-icon tweet-content-center-boxes-footer-like-icon-active"></i>
                                                {% else %}
                                                    <i id="like_icon_{{tweet.id}}" class="fa fa-heart-o tweet-content-center-boxes-footer-like-icon tweet-content-center-boxes-footer-like-icon-active"></i>
                                                {% endif %}
                                            </a>
                                            <span id="likes_{{tweet.id}}" class="tweet-content-center-boxes-footer-like-count">{{tweet.likes.count}}</span>
                                        </div>
                                        <div class="tweet-content-center-boxes-footer-retweet">
                                            <i id="{{tweet.id}}" class="fa fa-reply tweet-content-center-boxes-footer-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="'col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="tweet-content-left">
                            <div class="tweet-content-left-tab">
                                <ul class="nav nav-tabs tweet-content-left-tab-list" role="tablist">
                                    <li class="nav-item tweet-content-left-tab-item">
                                        <a class="nav-link active tweet-content-left-tab-link" id="home-tab"
                                            data-toggle="tab" href="#clock" role="tab">
                                            <i class="fas fa-clock-o"></i>
                                            ساعت های جهانی
                                        </a>
                                    </li>
                                    <li class="nav-item tweet-content-left-tab-item">
                                        <a class="nav-link tweet-content-left-tab-link" id="profile-tab"
                                            data-toggle="tab" href="#profile" role="tab">
                                            <i class="far fa-chart-bar"></i>
                                            نرخ های جهانی
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content tweet-content-left-tab-content">
                                    <div class="tab-pane fade show active tweet-content-left-tab-content-clock"
                                        id="clock" role="tabpanel">
                                        <ul class="tweet-content-left-tab-content-clock-list">

                                            <li class="tweet-content-left-tab-content-clock-item">
                                                <span class="tweet-content-left-tab-content-clock-title">نیویورک :</span>
                                                <span class="tweet-content-left-tab-content-clock-value">{{newyork_time}}</span>
                                            </li>
                                            <li class="tweet-content-left-tab-content-clock-item">
                                                <span class="tweet-content-left-tab-content-clock-title">هنگ کنگ :</span>
                                                <span class="tweet-content-left-tab-content-clock-value">{{hongkong_time}}</span>
                                            </li>
                                            <li class="tweet-content-left-tab-content-clock-item">
                                                <span class="tweet-content-left-tab-content-clock-title">توکیو :</span>
                                                <span class="tweet-content-left-tab-content-clock-value">{{tokyo_time}}</span>
                                            </li>
                                            <li class="tweet-content-left-tab-content-clock-item">
                                                <span class="tweet-content-left-tab-content-clock-title">لندن :</span>
                                                <span class="tweet-content-left-tab-content-clock-value">{{london_time}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel">2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock page %}

{% block scripts %}

    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/num-scroller.js' %}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script>
        let sendReplyIcon = document.querySelectorAll(".fa.fa-reply.tweet-content-center-boxes-footer-icon");
        let sendReplyBox = document.querySelectorAll(".tweet-content-center-boxes-send-reply");
        sendReplyIcon.forEach(element => {
            element.addEventListener("click", function (e) {
                let firstParent = e.target.parentElement.parentElement;
                let replyBox = firstParent.querySelector(".tweet-content-center-boxes-send-reply");
                if (replyBox == null) {
                    let replyComments = firstParent.querySelector(".tweet-content-center-boxes-reply");
                    let replyElement = document.createElement("div");
                    replyElement.classList.add("tweet-content-center-boxes-send-reply");
                    replyElement.innerHTML =
                        "  <form action='/tweet/retweet/" + element.id + "' method='POST'><textarea name='text' placeholder='متن دیدگاه' class='tweet-content-center-boxes-send-reply-text-area'></textarea><input name='currency' type='text' hidden value={{currency.name}}><input name='curr_tweet' type='text' hidden value={{currency.name}}><button type='submit' class='tweet-content-center-boxes-send-reply-submit'>ارسال پاسخ</button></form>";
                    firstParent.insertBefore(replyElement, replyComments);
                    replyElement.style.height = replyElement.scrollHeight + "px";
                    e.target.classList.add("tweet-content-center-boxes-footer-icon-close");
                } else if (getComputedStyle(replyBox).height == "0px") {
                    replyBox.style.height = replyBox.scrollHeight + "px";
                    e.target.classList.add("tweet-content-center-boxes-footer-icon-close");
                } else {
                    replyBox.style.height = "0px";
                    e.target.classList.remove("tweet-content-center-boxes-footer-icon-close");
                    setTimeout(function () {
                        firstParent.removeChild(replyBox);
                    }, 1000);
                }
            })
        });
    </script>


<script>

function like_tweet(ID){
    $.ajax({
        url: 'like_tweet/' + ID,
        type: 'GET',
        dataType: "json",
        success: function(resp, s, x) {
            if(resp.status == 'like'){
                document.getElementById('likes_'+ID).innerHTML = parseInt(document.getElementById('likes_'+ID).innerHTML) + 1;
                document.getElementById('like_icon_'+ID).classList.remove('fa-heart-o');
                document.getElementById('like_icon_'+ID).classList.add('fa-heart');
                //document.getElementById('like_icon_'+ID).class = "fa fa-heart tweet-content-center-boxes-reply-footer-like-icon tweet-content-center-boxes-reply-footer-like-icon-active";
            }else{
                document.getElementById('likes_'+ID).innerHTML = parseInt(document.getElementById('likes_'+ID).innerHTML) - 1;
                document.getElementById('like_icon_'+ID).classList.remove('fa-heart');
                document.getElementById('like_icon_'+ID).classList.add('fa-heart-o');
                //document.getElementById('like_icon_'+ID).clas = "fa fa-heart-o tweet-content-center-boxes-reply-footer-like-icon tweet-content-center-boxes-reply-footer-like-icon-active"
            }   
            }
    });
}

</script>


<script>

function like_tweet(ID){
    $.ajax({
        url: '/tweet/like_tweet/' + ID,
        type: 'GET',
        dataType: "json",
        success: function(resp, s, x) {
            if(resp.status == 'like'){
                document.getElementById('likes_'+ID).innerHTML = parseInt(document.getElementById('likes_'+ID).innerHTML) + 1;
                document.getElementById('like_icon_'+ID).classList.remove('fa-heart-o');
                document.getElementById('like_icon_'+ID).classList.add('fa-heart');
                //document.getElementById('like_icon_'+ID).class = "fa fa-heart tweet-content-center-boxes-reply-footer-like-icon tweet-content-center-boxes-reply-footer-like-icon-active";
            }else{
                document.getElementById('likes_'+ID).innerHTML = parseInt(document.getElementById('likes_'+ID).innerHTML) - 1;
                document.getElementById('like_icon_'+ID).classList.remove('fa-heart');
                document.getElementById('like_icon_'+ID).classList.add('fa-heart-o');
                //document.getElementById('like_icon_'+ID).clas = "fa fa-heart-o tweet-content-center-boxes-reply-footer-like-icon tweet-content-center-boxes-reply-footer-like-icon-active"
            }   
            }
    });
}

</script>

{% endblock scripts %}