{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>ارز توییتر</title>
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pushy.min.css' %}" />
    <script src='https://www.google.com/recaptcha/api.js?explicit&hl=fa'></script>
{% endblock header %}


{% block page %}
    <div class="page-wrapper">
      <section class="login">
        <div class="container login-container">
            <div class="row login-row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 login-right-col">
                    <div class="login-right">
                        <h2 class="login-right-heading-two">فراموشی رمز</h2>

                        {% if error %}
                        <div class="alert alert-danger w-75 mx-auto">
                            <p style="text-align: center">{{error}}</p>
                        </div>
                        {% endif %}
                        {% if message %}
                        <div class="alert alert-info w-75 mx-auto">
                            <p style="text-align: center">{{message}}</p>
                        </div>
                        {% endif %}

                        {% if step == 'get_phone' %}
                            <form action="{% url 'forgot_password' %}" method="POST" class="login-left-form">
                                {% csrf_token %}
                                <input name="step" value="{{step}}" hidden>
                                <div class="login-right-input-group">
                                    <div class="login-right-input-wrapper">
                                        {% if phone %}
                                            <input value="{{phone}}" type="text" class="login-right-input"placeholder="شماره تلفن" name="phone" required autocomplete="off">
                                        {% else %}
                                            <input type="text" class="login-right-input"placeholder="شماره تلفن" name="phone" required autocomplete="off">
                                        {% endif %}
                                        <i class="fa fa-user login-right-icon"></i>
                                    </div>
                                </div>
                                <div class="login-right-input-group">
                                    <div class="login-right-input-wrapper">
                                        <div class="g-recaptcha" data-sitekey="{{recaptcha}}"></div>
                                    </div>
                                </div>
                                <div class="login-right-input-group">
                                    <button type="submit"  class="login-right-submit" >
                                        ارسال کد بازیابی
                                    </button>
                                </div>
                            </form>
                        {% endif %}

                         {% if step == 'get_verification_code' %}
                            <form action="{% url 'forgot_password' %}" method="POST" class="login-left-form">
                                {% csrf_token %}
                                <input name="step" value="{{step}}" hidden>
                                <input name="phone" value="{{phone}}" hidden>
                                <div class="login-right-input-group">
                                    <div class="login-right-input-wrapper">
                                        <input type="text" class="login-right-input"placeholder="کد تایید" name="verification_code" required autocomplete="off">
                                        <i class="fa fa-user login-right-icon"></i>
                                    </div>
                                </div>
                                <div class="login-right-input-group">
                                    <button type="submit"  class="login-right-submit" >
                                        تایید
                                    </button>
                                </div>
                                <div class="login-right-anchors">
                                    <a class="login-right-link" href="{% url 'forgot_password' %}?phone={{phone}}">ارسال مجدد کد</a>
                                </div>
                            </form>
                        {% endif %}

                        {% if step == 'change_password' %}
                            <form action="{% url 'forgot_password' %}" method="POST" class="login-left-form">
                                {% csrf_token %}
                                <input name="step" value="{{step}}" hidden>
                                <input name="phone" value="{{phone}}" hidden>
                                <input name="verification_code" value="{{verification_code}}" hidden>
                                <div class="login-right-input-group">
                                    <div class="login-right-input-wrapper">
                                        <input type="text" class="login-right-input"placeholder="رمز جدید" name="new_password" required autocomplete="off">
                                        <i class="fa fa-user login-right-icon"></i>
                                    </div>
                                </div>
                                <div class="login-right-input-group">
                                    <button type="submit"  class="login-right-submit" >
                                        تغییر رمز
                                    </button>
                                </div>
                            </form>
                        {% endif %}

                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 login-left-col">
                    <div class="login-left">
                        <img src="{% static 'img/login-register.jpg' %}" class="login-left-image" />
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
{% endblock page %}