{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>ارز توییت</title>
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pushy.min.css' %}" />
{% endblock header %}


{% block page %}
    <div class="page-wrapper">
      <section class="login">
        <div class="container login-container">
            <div class="row login-row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 login-right-col">
                    <div class="login-right">
                        <h2 class="login-right-heading-two">فراموشی رمز</h2>

                        {% if error %}
                        <div class="alert alert-danger w-75 mx-auto">
                            <p>{{error}}</p>
                        </div>
                        {% endif %}
                        {% if message %}
                        <div class="alert alert-info w-75 mx-auto">
                            <p>{{message}}</p>
                        </div>
                        {% endif %}

                        <form action="{% url 'forgot_password' %}" method="POST" class="login-left-form">
                            {% csrf_token %}
                            <div class="login-right-input-group">
                                <div class="login-right-input-wrapper">
                                    <input type="text" class="login-right-input"placeholder="نام کاربری/شماره تلفن" name="username" required autocomplete="off">
                                    <i class="fa fa-user login-right-icon"></i>
                                </div>
                            </div>
                            <div class="login-right-input-group">
                                <button type="submit"  class="login-right-submit" >
                                    ارسال رمز جدید
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 login-left-col">
                    <div class="login-left">
                        <img src="{% static 'img/login-register.jpg' %}" class="login-left-image" />
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
{% endblock page %}