{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl" class="not-show-scroll-bar">

{% block header %}
    <title>ارز توييتر</title>
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}" />
{% endblock header %}}


{% block page %}

    <!-- START BANNER -->
    <section class="banner">
        <div class="container banner-container">
            <div class="banner-content"></div>
            <div class="banner-search">
                <div class="banner-search-large">
                    <div class="row banner-search-row"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BANNER -->

    <!-- START TOP CRYPTOCURRENCY -->
    <section class="top-cryptocurrency" id="topCryptocurrency">
        <div class="container top-cryptocurrency-container">
            <div class="top-cryptocurrency-line">
                <h2 class="top-cryptocurrency-line-heading-two">رمز ارز های برتر</h2>
            </div>
            <div class="top-cryptocurrency-boxes-wrapper">
                <div class="row top-cryptocurrency-boxes-row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes">
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes"><a href="#" class="top-cryptocurrency-boxes-link"></a>
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">BTC</span><img src="{% static 'pic/btc.png' %}"
                                    alt="بیتکویین" class="top-cryptocurrency-boxes-brand-image"><span
                                    class="top-cryptocurrency-boxes-brand-name">بیتکوین</span></div>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value">5.6%</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-cryptocurrency-all"><a href="#" class="top-cryptocurrency-all-link"><i
                        class="fa fa-bookmark top-cryptocurrency-all-icon"></i>مشاهده همه </a></div>
        </div>
    </section>
    <!-- END TOP CRYPTOCURRENCY -->

    <!-- START ARTICLES -->
    <section class="articles" id="articles">
        <div class="container articles-container">
            <div class="articles-line">
                <h2 class="articles-line-heading-two">آخرین مقالات</h2>
            </div>
            <div class="articles-boxes-wrapper">
                <div class="swiper-container articles-swiper-container">
                    <div class="swiper-wrapper articles-swiper-wrapper">
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-1.jpg' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">بیت کوین چیست؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">همه چیز از سال ۲۰۰۸ و انتشار مقاله‌ای که
                                    نوعی پول الکترونیک به نام بیت کوین در آن معرفی شده بود آغاز شد. هویت ناشناسی به نام
                                    ساتوشی ناکاموتو آغازگر انقلابی بود که سال‌ها بعد به تیتر اول رسانه‌ها تبدیل شد و
                                    اقتصاددانان را به بحث‌های نظری گسترده درباره آن وادار کرد. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-2.jpg' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">چگونه بیت کوین بخرم؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">همان که احتمالا می‌دانید، بیت کوین شکل
                                    فیزیکی ندارد و به‌شکل دیجیتالی منتقل می‌شود. بنابراین، برای خرید بیت کوین لازم نیست
                                    حضوری اقدام کنید، بلکه این کار اغلب به‌صورت آنلاین و از طریق اینترنت انجام می‌شود.
                                    همچنین، سؤالی که همیشه برای افراد تازه‌کار مطرح می‌شود این است که آیا باید حتماً چند
                                    هزار دلار خرج کنیم و یک واحد بیت کوین بخریم؟ نه، شما حتماً لازم نیست یک واحد کامل
                                    بیت کوین بخرید. این ارز دیجیتال تا هشت واحد اعشار قابل تقسیم است و به‌عنوان مثال
                                    می‌توانید ۰.۰۰۱ از یک بیت کوین یا حتی به‌اندازه ۱۰۰ هزار تومان بیت کوین بخرید.. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-3.jpg' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">چگونه بیت کوین بفروشم؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">برای افراد تازه‌کاری که قصد دارند در بیت
                                    کوین سرمایه‌گذاری کنند و یا به‌عنوان هدیه و پاداش بیت کوین دریافت کرده‌اند، معمولاً
                                    این سؤال مطرح می‌شود که اگر بیت کوین داشته باشم، چگونه می‌توانم آن‌ را بفروشم و به
                                    پول رایج (ریال یا دلار) تبدیل کنم. در این مقاله، به این سؤال به‌زبان ساده پاسخ
                                    می‌دهیم. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-4.jpg' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">فناوری بلاک چین چگونه کار می کند؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">قبل از هر چیز فراموش نکنید نحوه کار دقیق
                                    بلاک چین بسیار پیچیده است که در یک مقاله ساده نمی‌گنجد. به عنوان یک کاربر ساده برای
                                    استفاده از فناوری بلاک چین نیاز به دانستن چگونگی کار آن نخواهید داشت همانطور که برای
                                    استفاده از اینترنت نیاز به دانستن چگونگی کار اینترنت ندارید. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-5.png' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">بلاک چین چیست؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">بلاک چین (Blockchain) چیست، چگونه کار می‌کند
                                    و چه کاربردهایی دارد؟ این‌ها سوالات متداولی هستند که در مورد این فناوریِ انقلابی
                                    پرسیده می‌شود و احتمالاً درک آن برای افراد تازه‌کار و حتی برای حرفه‌ای‌ها چندان ساده
                                    نباشد. با ما همراه باشید تا به تمام این سوالات به زبان ساده پاسخ بدهیم. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-6.jpg' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">کاربرد های یک بلاک چین چیست؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">بلاک چین برای اولین بار در بیت کوین استفاده
                                    شد، اما حالا این فناوری می‌تواند کاربردهای زیادی در دنیای واقعی ما داشته باشد. به
                                    طور کلی استفاده از بلاک چین می‌تواند تا حد زیادی حریم خصوصی، اعتبار و امنیت اطلاعات
                                    را افزایش دهد و ما را بیش از پیش از اعتماد بی نیاز کند. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-4.jpg' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">فناوری بلاک چین چگونه کار می کند؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">قبل از هر چیز فراموش نکنید نحوه کار دقیق
                                    بلاک چین بسیار پیچیده است که در یک مقاله ساده نمی‌گنجد. به عنوان یک کاربر ساده برای
                                    استفاده از فناوری بلاک چین نیاز به دانستن چگونگی کار آن نخواهید داشت همانطور که برای
                                    استفاده از اینترنت نیاز به دانستن چگونگی کار اینترنت ندارید. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-5.png' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">بلاک چین چیست؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">بلاک چین (Blockchain) چیست، چگونه کار می‌کند
                                    و چه کاربردهایی دارد؟ این‌ها سوالات متداولی هستند که در مورد این فناوریِ انقلابی
                                    پرسیده می‌شود و احتمالاً درک آن برای افراد تازه‌کار و حتی برای حرفه‌ای‌ها چندان ساده
                                    نباشد. با ما همراه باشید تا به تمام این سوالات به زبان ساده پاسخ بدهیم. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <div class="articles-boxes-header"><img src="{% static 'pic/article-6.jpg' %}"
                                    class="articles-boxes-header-image" alt="" /></div>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="#"
                                        class="articles-boxes-content-link">کاربرد های یک بلاک چین چیست؟ </a></h3>
                                <p class="articles-boxes-content-paragraph">بلاک چین برای اولین بار در بیت کوین استفاده
                                    شد، اما حالا این فناوری می‌تواند کاربردهای زیادی در دنیای واقعی ما داشته باشد. به
                                    طور کلی استفاده از بلاک چین می‌تواند تا حد زیادی حریم خصوصی، اعتبار و امنیت اطلاعات
                                    را افزایش دهد و ما را بیش از پیش از اعتماد بی نیاز کند. </p>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">1397/05/02</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">55</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev articles-swiper-button-prev"></div>
                <div class="swiper-button-next articles-swiper-button-next"></div>
                <div class="swiper-pagination articles-swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- END ARTICLES -->

    <!-- START STATISTICS -->
    <section class="statistics" id="statistics">
        <div class="container statistics-container">
            <div class="statistics-line">
                <h2 class="statistics-line-heading-two">چرا به ارز توییتر اعتماد می کنند؟</h2>
            </div>
            <div class="statistics-boxes-wrapper">
                <div class="row statistics-boxes-wrapper-row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">تعداد کاربران فعال</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="20000"
                                data-delay='200' data-increment='100'></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">تعداد کاربران فعال</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="20000"
                                data-delay='200' data-increment='100'></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">تعداد کاربران فعال</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="20000"
                                data-delay='200' data-increment='100'></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">تعداد کاربران فعال</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="20000"
                                data-delay='200' data-increment='100'></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">تعداد کاربران فعال</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="20000"
                                data-delay='200' data-increment='100'></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">تعداد کاربران فعال</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="20000"
                                data-delay='200' data-increment='100'></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTICS -->

    <!-- START COMMON QUESTIONS -->
    <section class="common-questions">
        <div class="container common-questions-container">
            <div class="common-questions-line">
                <h2 class="common-questions-line-heading-two">سوالات متداول</h2>
            </div>
            <ul class="common-questions-list" id="commonQuestionsList">
                <li class="common-questions-item">
                    <div class="common-questions-header" data-toggle="collapse" data-target="#question-1">
                        <h3 class="common-questions-header-heading-three">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
                        <button class="common-questions-header-button"><i
                                class="fa fa-plus common-questions-header-icon"></i></button>
                    </div>
                    <div class="common-questions-content collapse show" id="question-1"
                        data-parent="#commonQuestionsList">
                        <p class="common-questions-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد. </p>
                    </div>
                </li>
                <li class="common-questions-item">
                    <div class="common-questions-header" data-toggle="collapse" data-target="#question-2">
                        <h3 class="common-questions-header-heading-three">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
                        <button class="common-questions-header-button"><i
                                class="fa fa-plus common-questions-header-icon"></i></button>
                    </div>
                    <div class="common-questions-content collapse show" id="question-2"
                        data-parent="#commonQuestionsList">
                        <p class="common-questions-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد. </p>
                    </div>
                </li>
                <li class="common-questions-item">
                    <div class="common-questions-header" data-toggle="collapse" data-target="#question-3">
                        <h3 class="common-questions-header-heading-three">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
                        <button class="common-questions-header-button"><i
                                class="fa fa-plus common-questions-header-icon"></i></button>
                    </div>
                    <div class="common-questions-content collapse show" id="question-3"
                        data-parent="#commonQuestionsList">
                        <p class="common-questions-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد. </p>
                    </div>
                </li>
                <li class="common-questions-item">
                    <div class="common-questions-header" data-toggle="collapse" data-target="#question-4">
                        <h3 class="common-questions-header-heading-three">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
                        <button class="common-questions-header-button"><i
                                class="fa fa-plus common-questions-header-icon"></i></button>
                    </div>
                    <div class="common-questions-content collapse show" id="question-4"
                        data-parent="#commonQuestionsList">
                        <p class="common-questions-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد. </p>
                    </div>
                </li>
                <li class="common-questions-item">
                    <div class="common-questions-header" data-toggle="collapse" data-target="#question-5">
                        <h3 class="common-questions-header-heading-three">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
                        <button class="common-questions-header-button"><i
                                class="fa fa-plus common-questions-header-icon"></i></button>
                    </div>
                    <div class="common-questions-content collapse show" id="question-5"
                        data-parent="#commonQuestionsList">
                        <p class="common-questions-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد. </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- END COMMON QUESTIONS -->

    <!-- START COMMENTS -->
    <section class="comments" id="comments">
        <div class="container comments-container">
            <div class="comments-line">
                <h2 class="comments-line-heading-two">نظرات کاربران</h2>
            </div>
            <div class="comments-boxes-wrapper">
                <div class="swiper-container comments-swiper-container">
                    <div class="swiper-wrapper comments-swiper-wrapper">
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                                <h4 class="comments-boxes-header-heading-four">محسن قديري</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">استاد دانشگاه</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                                    و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev comments-swiper-button-prev"></div>
                <div class="swiper-button-next comments-swiper-button-next"></div>
                <div class="swiper-pagination comments-swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- END COMMENTS -->

{% endblock page %}}


{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}
