{% extends 'base.html' %}
{% load static %}


{% block header %}
    <title>ارز توييتر</title>
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <style>
        .banner .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .banner img {
            object-fit: cover;
        }

        .scroll-down {
            display: table;
            width: 50px;
            text-align: center;
            margin: 0 auto;
            right: 0;
            left: 0;
            bottom: 40px;
        }

        .scroll-down:hover {
            bottom: 35px
        }

        .down_arrow_icon {
            padding: 8px 10px;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: auto;
    transition: all .3s cubic-bezier(.54,.35,.27,1.55);
    position: relative;
}

.down_arrow_icon span {
    position: absolute;
    right: 0;
    left: 0;
    top: 30%;
    height: 12px;
    width: 3px;
    border-radius: 4px;
    background-color: #fff;
    margin: auto;
    -webkit-animation-name: down_arrow;
    animation-name: down_arrow;
    animation-timing-function: cubic-bezier(1,-.14,0,.52);
    animation-play-state: running;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes down_arrow {
    0%, 100% {
    height: 8px;
}
45%, 55% {
    height: 16px;
}
}

.scroll-down > i {
    width: 100%;
    display: block;
    line-height: 25px;
    color: #fff;
}
        .scroll-down .one {
            font-size: 14px;
            animation: 1.4s linear 0s infinite down-sign-one;
            margin-top: 20px;
        }

        .scroll-down .two {
            font-size: 22px;
            margin-top: -15px;
            animation: 1.4s linear 0s infinite down-sign-two;
            -moz-animation: 1.4s linear 0s infinite down-sign-two;
            -webkit-animation: 1.4s linear 0s infinite down-sign-two
        }

        .scroll-down .three {
            font-size: 26px;
            margin-top: -15px;
            animation: 1.4s linear 0s infinite down-sign-three;
            -moz-animation: 1.4s linear 0s infinite down-sign-three;
            -webkit-animation: 1.4s linear 0s infinite down-sign-three
        }

  
  
        @keyframes down-sign-one {
            0% {
                opacity: 1;
            }

            10% {
                opacity: 0.6;
            }

            20% {
                opacity: 0.2;
            }

            30% {
                opacity: 0;
            }

            40% {
                opacity: 0;
            }

            50% {
                opacity: 0;
            }

            60% {
                opacity: 0;
            }

            70% {
                opacity: 0.2;
            }

            80% {
                opacity: 0.5;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 1
            }
        }

        @keyframes down-sign-two {
            0% {
                opacity: 1;
            }

            10% {
                opacity: 1;
            }

            20% {
                opacity: 1;
            }

            30% {
                opacity: 0.6;
            }

            40% {
                opacity: 0.2;
            }

            50% {
                opacity: 0;
            }

            60% {
                opacity: 0;
            }

            70% {
                opacity: 0;
            }

            80% {
                opacity: 0.2;
            }

            90% {
                opacity: 0.5;
            }

            100% {
                opacity: 1
            }
        }

        @keyframes down-sign-three {
            0% {
                opacity: 0;
            }

            10% {
                opacity: 1;
            }

            20% {
                opacity: 1;
            }

            30% {
                opacity: 1;
            }

            40% {
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            60% {
                opacity: 1;
            }

            50% {
                opacity: 0.6;
            }

            60% {
                opacity: 0.2;
            }

            90% {
                opacity: 0;
            }

            100% {
                opacity: 0
            }
        }
    </style>
<style>
    .bold{
        color: #222;
    }
    .nobold{
        color: #666;
    }

    .autocomplete {
  position: relative;
  display:flex;
  justify-self: center;
  text-align: center;
  margin: 30px auto;
  width: 50%;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  border: none;
  top: 56%;
  width: 100%;
  margin-top: 2px;
  max-height: 180px;
 overflow-y: auto;
 border-radius: 0 5px 15px 15px;
}
.autocomplete-items img{
    width: 24px;
    height: 24px;
}
.autocomplete-items::-webkit-scrollbar {
    width: 8px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.autocomplete-items::-webkit-scrollbar-track {
    border-radius: 2px;
}

.autocomplete-items::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border-radius: 2px;
    transition: all ease .5s;
}

.autocomplete-items::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
text-align: center;
}
.autocomplete-items div img{
  margin-left: 8px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #FCC81D !important;
  color: #ffffff;
}

</style>

{% endblock header %}



 
        {% block banner %}
        <div class="header-banner">
            <div class="container-fluid banner-container">
                <div class="header-banner-title">
                    <h1 class="header-banner-title-heading-one">ارز توییتر</h1>
                    <h2 class="header-banner-title-heading-two">حرف رمز ارزها را بشنوید...</h2>
                </div>
                <div class="header-banner-search">
                    <div class="header-banner-search-large">
                        <div class="row header-banner-search-row">
                            <div class="col-lg-3 col-xl-3 header-banner-search-bear-col">
                                <div class="header-banner-search-bear">
                                    <img src="{% static 'img/1.png' %}" class="header-banner-search-bear-image" />
                                </div>
                            </div>
                            <div id="search_form" class="col-lg-6 col-xl-6">
                                <div class="header-banner-search-box">
                                    <input type="text" id="autocompleteInput" class="header-banner-search-box-input" placeholder="رمز ارز مورد نظر خود را جستجو کنید ..." />
                                    <i class="fa fa-search header-banner-search-box-icon"></i>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 header-banner-search-bull-col">
                                <div class="header-banner-search-buul">
                                    <img src="{% static 'img/2.png' %}" class="header-banner-search-buul-image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-banner-search-small">
                        <div class="row header-banner-search-row">
                            <div class="col-6 col-sm-6 col-md-6 header-banner-search-bear-col">
                                <div class="header-banner-search-bear">
                                    <img src="{% static 'img/1.png' %}" class="header-banner-search-bear-image" />
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 header-banner-search-buul-col">
                                <div class="header-banner-search-buul">
                                    <img src="{% static 'img/2.png' %}" class="header-banner-search-buul-image" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="header-banner-search-box">
                                    <input type="text" id="autocompleteInput2" class="header-banner-search-box-input" placeholder="رمز ارز مورد نظر خود را جستجو کنید ..." />
                                    <i class="fa fa-search header-banner-search-box-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-go-down">
            <a href="#topCryptocurrency" class="scroll-down scroll">
                <span class="down_arrow_icon"><span></span></span>
                <i class="fa fa-angle-down one"></i>
                <i class="fa fa-angle-down two"></i>
                <i class="fa fa-angle-down three"></i>
            </a>
        </div>
        {% endblock banner %}


{% block page %}
    <!-- START TOP CRYPTOCURRENCY -->
    <section class="top-cryptocurrency" id="topCryptocurrency">
        <div class="container top-cryptocurrency-container">
            <div class="top-cryptocurrency-line">
                <h2 class="top-cryptocurrency-line-heading-two">رمز ارز های برتر</h2>
            </div>
            <div class="top-cryptocurrency-boxes-wrapper">
                <div class="row top-cryptocurrency-boxes-row">
                {% for cur in top_curs %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="top-cryptocurrency-boxes">
                        <a href="{% url 'curr_tweets' cur.name %}">
                            <div class="top-cryptocurrency-boxes-brand"><span
                                    class="top-cryptocurrency-boxes-brand-name">{{cur.symbol}}</span><img src="{{cur.image_url}}"
                                    alt="{{cur.symbol}}" class="top-cryptocurrency-boxes-brand-image" style="width:10%"><span
                                    class="top-cryptocurrency-boxes-brand-name">{{cur.persian_name}}</span></div>
                        </a>
                            <div class="top-cryptocurrency-boxes-price"><span
                                    class="top-cryptocurrency-boxes-price-value" id="dollor_{{cur.symbol}}">3000 دلار</span><span
                                    class="top-cryptocurrency-boxes-price-value" id="toman_{{cur.symbol}}">250000 تومان</span></div>
                            <div class="top-cryptocurrency-boxes-daily"><span
                                    class="top-cryptocurrency-boxes-daily-title">روزانه :</span><span
                                    class="top-cryptocurrency-boxes-daily-value" id="1d_change_{{cur.symbol}}">5.6%</span></div>
                            <div class="top-cryptocurrency-boxes-weekly"><span
                                    class="top-cryptocurrency-boxes-weekly-title">هفتگی :</span><span
                                    class="top-cryptocurrency-boxes-weekly-value" id="7d_change_{{cur.symbol}}">5.6%</span></div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="top-cryptocurrency-all"><a href="{% url 'list_currencies' 1 %}" class="top-cryptocurrency-all-link">
                    مشاهده همه
                    <i class="fa fa-angle-left top-cryptocurrency-all-icon"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- END TOP CRYPTOCURRENCY -->

    <!-- START ARTICLES -->
    <section class="articles" id="articles">
        <div class="container articles-container">
            <div class="articles-line">
                <h2 class="articles-line-heading-two">آخرین مقالات</h2>
            </div>
            <div class="articles-boxes-wrapper">
                <div class="swiper-container articles-swiper-container">
                    <div class="swiper-wrapper articles-swiper-wrapper">
                    {% for article in articles %}
                        <div class="swiper-slide articles-swiper-slide articles-boxes">
                            <a href="{% url 'article' article.id %}">
                                <div class="articles-boxes-header"><img src="{{article.image.url}}" class="articles-boxes-header-image" alt="" /></div>
                            </a>
                            <div class="articles-boxes-content">
                                <h3 class="articles-boxes-content-heading-three"><a href="{% url 'article' article.id %}"
                                        class="articles-boxes-content-link">{{article.title}} </a></h3>
                            </div>
                            <div class="articles-boxes-footer">
                                <div class="articles-boxes-footer-time"><i
                                        class="fa fa-calendar articles-boxes-footer-time-icon"></i><span
                                        class="articles-boxes-footer-time-span">{{article.shamsi_date}}</span></div>
                                <div class="articles-boxes-footer-view"><i
                                        class="fa fa-eye articles-boxes-footer-view-icon"></i><span
                                        class="articles-boxes-footer-view-span">{{article.views_count}}</span></div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-prev articles-swiper-button-prev"></div>
                <div class="swiper-button-next articles-swiper-button-next"></div>
                <div class="swiper-pagination articles-swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- END ARTICLES -->

    <!-- START STATISTICS -->
    <section class="statistics" id="statistics">
        <div class="container statistics-container">
            <!--<div class="statistics-line">
                <h2 class="statistics-line-heading-two">چرا به ارز توییتر اعتماد می کنند؟</h2>
            </div>-->
            <div class="statistics-boxes-wrapper">
                <div class="row statistics-boxes-wrapper-row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">کاربران ارز توییتر</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="{{users_count}}"
                                data-delay='1' data-increment='1'></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">کل توییت ها</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="{{twits_count}}"
                                data-delay='1' data-increment='1'></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="statistics-boxes"><img src="{% static 'img/users-count.svg' %}" alt=""
                                class="statistics-boxes-image">
                            <h3 class="statistics-boxes-heading-three">کل بازدید سایت</h3><span
                                class="statistics-boxes-value numscroller" data-min='1' data-max="98563"
                                data-delay='200' data-increment='100'></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTICS -->

    <!-- START COMMON QUESTIONS -->
    <section class="common-questions">
        <div class="container common-questions-container">
            <div class="common-questions-line">
                <h2 class="common-questions-line-heading-two">سوالات متداول</h2>
            </div>
            <ul class="common-questions-list" id="commonQuestionsList">
                {% for question in questions %}
                    <li class="common-questions-item">
                        <div class="common-questions-header" data-toggle="collapse" data-target="#question-{{question.id}}">
                            <h3 class="common-questions-header-heading-three">{{question.question}}</h3>
                            <button class="common-questions-header-button"><i
                                    class="fa fa-plus common-questions-header-icon"></i></button>
                        </div>
                        <div class="common-questions-content collapse show" id="question-{{question.id}}"
                            data-parent="#commonQuestionsList">
                            <p class="common-questions-content-paragraph">
                                {{question.answer}} </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <!-- END COMMON QUESTIONS -->

    <!-- START COMMENTS -->
    <section class="comments" id="comments">
        <div class="container comments-container">
            <div class="comments-line">
                <h2 class="comments-line-heading-two">نظرات کاربران</h2>
            </div>
            <div class="comments-boxes-wrapper">
                <div class="swiper-container comments-swiper-container">
                    <div class="swiper-wrapper comments-swiper-wrapper">
                    {% for comment in comments %}
                        <div class="swiper-slide comments-swiper-slide comments-boxes">
                            {% if comment.image %}
                            <div class="comments-boxes-header"><img src="{{comment.image.url}}"
                                    class="comments-boxes-header-image" />
                            {% else %}
                            <div class="comments-boxes-header"><img src="{% static 'img/default-user.jpg' %}"
                                    class="comments-boxes-header-image" />
                            {% endif %}
                                <h4 class="comments-boxes-header-heading-four">{{comment.name}}</h4><i
                                    class="fa fa-quote-right comments-boxes-header-icon"></i>
                                <h5 class="comments-boxes-header-heading-five">{{comment.position}}</h5>
                            </div>
                            <div class="comments-boxes-content">
                                <p class="comments-boxes-content-paragraph">{{comment.text | linebreaksbr}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-prev comments-swiper-button-prev"></div>
                <div class="swiper-button-next comments-swiper-button-next"></div>
                <div class="swiper-pagination comments-swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- END COMMENTS -->

{% endblock page %}

{% block scripts %}
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/num-scroller.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <script>
        $('.collapse').collapse();
    </script>


<!--------------------------autocomplete------------------------------>
<script>
       function autocomplete(inp, arr, images) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}

      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<img src = '"+ images[i] +"' alt='btc'>";
          b.innerHTML += "<span style='color;#052058'>" + arr[i].substr(0, val.length) + "</span>";
          b.innerHTML += "<span style = 'color:#DDD'>" + arr[i].substr(val.length) + "</span>";
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              window.location.href = "/index_search?currency=" + this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { 
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });

  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}


//get all search objects from back
    var arr = [];
    var images = [];
    $.ajax({
        url: '/get_all_currencies',
        type: 'GET',
        dataType: "json",
        success: function(searches, s, x) {
            searches.forEach(element => {
                arr.push(element.name);
                arr.push(element.persian_name + '|' + element.name);
                arr.push(element.symbol);
                images.push(element.image_url);
                images.push(element.image_url);
                images.push(element.image_url);
            });
        }
    });

autocomplete(document.getElementById("autocompleteInput"), arr, images);
autocomplete(document.getElementById("autocompleteInput2"), arr, images);
</script>






<!-----------------------update currencies------------------------------>
<script>
    var dollor_rate = {{dollor_rate}};
    var new_data, old_data, cur_index=0, frame=0, new_price, new_1d_change, new_7d_change;
    var price_diff_per_frame={}, daily_change_diff_per_frame={}, weekly_change_diff_per_frame={};

    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    function update_window(symbol, price, daily_change, weekly_change){
        document.getElementById('toman_' + symbol).innerHTML = parseInt(price * dollor_rate).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' تومان';
        if(price < 10)
            document.getElementById('dollor_' + symbol).innerHTML = numberWithCommas(price.toFixed(4)) + ' دلار ';
        else
            document.getElementById('dollor_' + symbol).innerHTML = numberWithCommas(price.toFixed(2)) + ' دلار ';
        // fix daily change and it's color
        if(daily_change < 0){
            document.getElementById('1d_change_' + symbol).innerHTML = -1 * daily_change.toFixed(2) + "-" + "%";
            document.getElementById('1d_change_' + symbol).style.color = 'red';
        }else{
            document.getElementById('1d_change_' + symbol).innerHTML = "%" + daily_change.toFixed(2);
            document.getElementById('1d_change_' + symbol).style.color = '#00ff00';
        }
        // fix weekly change and it's color
        if(weekly_change < 0){
            document.getElementById('7d_change_' + symbol).innerHTML = -1 * weekly_change.toFixed(2) + "-" + "%";
            document.getElementById('7d_change_' + symbol).style.color = 'red';
        }else{
            document.getElementById('7d_change_' + symbol).innerHTML = "%" + weekly_change.toFixed(2);
            document.getElementById('7d_change_' + symbol).style.color = '#00ff00';
        }
    }

    function update_window_by_20_frame(){
        new_data =  JSON.parse($.ajax({
            url: '/get_top_currencies_info/12',
            type: 'GET',
            dataType: "json",
            async:false
        }).responseText);

        cur_index = 0;
        for(cur_index=0; cur_index<new_data.length; cur_index++){
            price_diff_per_frame[new_data[cur_index].symbol] = (new_data[cur_index].price - old_data[cur_index].price) / 20;
            daily_change_diff_per_frame[new_data[cur_index].symbol] = (new_data[cur_index]['1d_change'] - old_data[cur_index]['1d_change']) / 20;
            weekly_change_diff_per_frame[new_data[cur_index].symbol] = (new_data[cur_index]['7d_change'] - old_data[cur_index]['7d_change']) / 20;
        }

        frame = 1;
        let counter = setInterval(() => {
            if(frame==18){
                old_data = new_data;
                clearInterval(counter);
            }
            cur_index=0;
            old_data.forEach(cur => {
                //calcute new data
                new_price = cur['price'] + frame * price_diff_per_frame[cur.symbol];
                new_1d_change = cur['1d_change'] + frame * daily_change_diff_per_frame[cur.symbol];
                new_7d_change = cur['7d_change'] + frame * weekly_change_diff_per_frame[cur.symbol];
                update_window(cur.symbol, new_price, new_1d_change, new_7d_change);
                cur_index++;
            });      
            frame++;
        }, 3000);
    }


    //first time
    old_data = JSON.parse($.ajax({
        url: '/get_top_currencies_info/12',
        type: 'GET',
        dataType: "json",
        async:false
    }).responseText);

    //change correct data to have a dynamic page
    for(var i=0; i< old_data.length; i++){
        var sign = Math.random() > 0.5 ? -1 : 1;
        old_data[i]['price'] += (old_data[i]['price'] * sign * 0.005);
        old_data[i]['1d_change'] += (old_data[i]['1d_change'] * sign * 0.005);
        old_data[i]['7d_change'] += (old_data[i]['7d_change'] * sign * 0.005);
        update_window(old_data[i].symbol, old_data[i]['price'], old_data[i]['1d_change'], old_data[i]['7d_change']);
    }
    update_window_by_20_frame();

    setInterval(() => {
        update_window_by_20_frame();
    }, 60000);
    
</script>

{% endblock scripts %}