<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارز توییت</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/list-articles.min.css' %}"/>
    <link rel=" shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>

    <!-- START PRELOADER -->
    <div class="preloader">
        <ul class="preloader-list">
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
            <li class="preloader-item"></li>
        </ul>
    </div>
    <!-- END PRELOADER -->

    <!-- START HEADER -->
    <header class="header" id="header">
        <div class="header-large ">
            <div class="container header-large-container">
                <div class="row header-large-row">
                    <div class="col-lg-2 col-xl-1 logo-col">
                        <div class="logo">
                            <img src="{% static 'img/logo.png' %}" class="logo-image" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8 main-menu-col">
                        <nav class="main-menu">
                            <ul class="main-menu-list">
                                <li class="main-menu-item main-menu-item-active">
                                    <a href="#" class="main-menu-link">
                                        خانه
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        توئیت
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        رمز ارزها
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        نقشه بازار
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        دیده بان
                                    </a>
                                </li>
                                <li class="main-menu-item main-submenu">
                                    <a href="#" class="main-menu-link">
                                        محصولات
                                    </a>
                                    <ul class="main-submenu-list">
                                        <li class="main-submenu-item">
                                            <a href="#" class="main-submenu-link">
                                                وی پی ان
                                            </a>
                                        </li>
                                        <li class="main-submenu-item">
                                            <a href="#" class="main-submenu-link">
                                                محصولات آموزشی
                                            </a>
                                        </li>
                                        <li class="main-submenu-item">
                                            <a href="#" class="main-submenu-link">
                                                سیگنال
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        مقالات
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-xl-3 login-register-col">
                        <div class="login-register">
                            <i class="fa fa-user login-register-icon"></i>
                            <a href="login-register.html" class="login-register-link">
                                <span class="login-register-span">ورود</span>
                            </a>
                            <span class="login-register-span">|</span>
                            <a href="login-register.html" class="login-register-link">
                                <span class="login-register-span">ثبت نام</span>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-xl-3 account-col">
                        <div class="account">
                            <div class="account-panel">
                                <div class="account-collapse" id="account-collapse">
                                    <button class="account-collapse-button" id="account-button">
                                        <img src="{% static 'img/default-user.jpg' %}" class="account-collapse-image" />
                                    </button>
                                </div>
                                <div class="account-content" id="account-content">
                                    <ul class="account-content-list">
                                        <li class="account-content-item">
                                            Mohammad عزیز
                                            <br>
                                            خوش آمدید
                                        </li>
                                        <li class="account-content-item">
                                            امتیاز شما : 80
                                        </li>
                                        <li class="account-content-item">
                                            خروج از حساب
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="account-cart">
                                <a href="#" class="account-cart-link">
                                    <i class="fas fa-shopping-cart account-cart-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="header-medium">
            <div class="row header-medium-row">
                <div class="col-4 col-sm-4 col-md-4">
                    <nav class="responsive-menu" id="responsiveMenu">
                        <div class="responsive-menu-header">
                            <button class="responsive-menu-header-button"  id="closeNav">
                            <i class="fa fa-times responsive-menu-header-icon"></i>
                        </button>
                        </div>
                        <div class="responsive-menu-content">
                            <ul class="responsive-menu-content-list">
                                <li class="responsive-menu-content-item">
                                    <a href="#" class="responsive-menu-content-link">خانه</a>
                                </li>
                                <li class="responsive-menu-content-item">
                                    <a href="#" class="responsive-menu-content-link">توییت</a>
                                </li>
                                <li class="responsive-menu-content-item">
                                    <a class="responsive-menu-content-link">رمزارزها</a>
                                </li>
                                <li class="responsive-menu-content-item">
                                    <a href="#" class="responsive-menu-content-link">نقشه بازار</a>
                                </li>
                                <li class="responsive-menu-content-item">
                                    <a href="#" class="responsive-menu-content-link">دیده بان</a>
                                </li>
                                <li class="responsive-menu-content-item responsive-submenu-content">
                                    <a href="#" class="responsive-menu-content-link">محصولات</a>
                                    <ul class="responsive-submenu-content-list">
                                        <li class="responsive-submenu-content-item">
                                            <a class="responsive-submenu-content-link">وی پی ان</a>
                                        </li>
                                        <li class="responsive-submenu-content-item">
                                            <a class="responsive-submenu-content-link">محصولات آموزشی</a>
                                        </li>
                                        <li class="responsive-submenu-content-item">
                                            <a class="responsive-submenu-content-link">سیگنال</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="responsive-menu-content-item">
                                    <a href="#" class="responsive-menu-content-link">مقالات</a>
                                </li>
                            </ul>
                        </div>
                      </nav>
                    <div class="responsive-menu-overlay" id="overlay"></div>
                    <button class="responsive-menu-button" id="openNav">
                        <i class="fa fa-bars responsive-menu-icon"></i>
                    </button>
                </div>
                <div class="col-4 col-sm-4 col-md-4">
                    <div class="responsive-logo">
                        <img src="{% static 'img/logo.png' %}" class="responsive-logo-image" />
                    </div>
                </div>
              
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <div class="page-wrapper">
        <section class="list-articles">
            <div class="container list-articles-container">
                <h2 class="list-articles-heading-two">مقالات ارز توییت</h2>
                <div class="list-articles-boxes-wrapper">
                    <div class="row list-articles-boxes-wrapper-row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="list-articles-boxes">
                                <div class="list-articles-boxes-header">
                                    <img src="{% static 'pic/article-1.jpg' %}" class="list-articles-boxes-header-image" alt="" />
                                </div>
                                <div class="list-articles-boxes-content">
                                    <h3 class="list-articles-boxes-content-heading-three">
                                        <a href="#" class="list-articles-boxes-content-link">
                                            بیت کوین چیست؟
                                        </a>
                                    </h3>
                                    <p class="list-articles-boxes-content-paragraph">
                                        همه چیز از سال ۲۰۰۸ و انتشار مقاله‌ای که نوعی پول الکترونیک به نام بیت کوین در
                                        آن معرفی شده بود آغاز شد. هویت ناشناسی به نام ساتوشی ناکاموتو آغازگر انقلابی بود
                                        که سال‌ها بعد به تیتر اول رسانه‌ها تبدیل شد و اقتصاددانان را به بحث‌های نظری
                                        گسترده درباره آن وادار کرد.
                                    </p>
                                </div>
                                <div class="list-articles-boxes-footer">
                                    <div class="list-articles-boxes-footer-time">
                                        <i class="fa fa-calendar list-articles-boxes-footer-time-icon"></i>
                                        <span class="list-articles-boxes-footer-time-span">1397/05/02</span>
                                    </div>
                                    <div class="list-articles-boxes-footer-view">
                                        <i class="fa fa-eye list-articles-boxes-footer-view-icon"></i>
                                        <span class="list-articles-boxes-footer-view-span">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="list-articles-boxes">
                                <div class="list-articles-boxes-header">
                                    <img src="{% static 'pic/article-2.jpg' %}" class="list-articles-boxes-header-image" alt="" />
                                </div>
                                <div class="list-articles-boxes-content">
                                    <h3 class="list-articles-boxes-content-heading-three">
                                        <a href="#" class="list-articles-boxes-content-link">
                                            چگونه بیت کوین بخرم؟
                                        </a>
                                    </h3>
                                    <p class="list-articles-boxes-content-paragraph">
                                        همان که احتمالا می‌دانید، بیت کوین شکل فیزیکی ندارد و به‌شکل دیجیتالی منتقل
                                        می‌شود. بنابراین، برای خرید بیت کوین لازم نیست حضوری اقدام کنید، بلکه این کار
                                        اغلب به‌صورت آنلاین و از طریق اینترنت انجام می‌شود. همچنین، سؤالی که همیشه برای
                                        افراد تازه‌کار مطرح می‌شود این است که آیا باید حتماً چند هزار دلار خرج کنیم و یک
                                        واحد بیت کوین بخریم؟ نه، شما حتماً لازم نیست یک واحد کامل بیت کوین بخرید. این
                                        ارز دیجیتال تا هشت واحد اعشار قابل تقسیم است و به‌عنوان مثال می‌توانید ۰.۰۰۱ از
                                        یک بیت کوین یا حتی به‌اندازه ۱۰۰ هزار تومان بیت کوین بخرید..
                                    </p>
                                </div>
                                <div class="list-articles-boxes-footer">
                                    <div class="list-articles-boxes-footer-time">
                                        <i class="fa fa-calendar list-articles-boxes-footer-time-icon"></i>
                                        <span class="list-articles-boxes-footer-time-span">1397/05/02</span>
                                    </div>
                                    <div class="list-articles-boxes-footer-view">
                                        <i class="fa fa-eye list-articles-boxes-footer-view-icon"></i>
                                        <span class="list-articles-boxes-footer-view-span">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="list-articles-boxes">
                                <div class="list-articles-boxes-header">
                                    <img src="{% static 'pic/article-3.jpg' %}" class="list-articles-boxes-header-image" alt="" />
                                </div>
                                <div class="list-articles-boxes-content">
                                    <h3 class="list-articles-boxes-content-heading-three">
                                        <a href="#" class="list-articles-boxes-content-link">
                                            چگونه بیت کوین بفروشم؟
                                        </a>
                                    </h3>
                                    <p class="list-articles-boxes-content-paragraph">
                                        برای افراد تازه‌کاری که قصد دارند در بیت کوین سرمایه‌گذاری کنند و یا به‌عنوان
                                        هدیه و پاداش بیت کوین دریافت کرده‌اند، معمولاً این سؤال مطرح می‌شود که اگر بیت
                                        کوین داشته باشم، چگونه می‌توانم آن‌ را بفروشم و به پول رایج (ریال یا دلار) تبدیل
                                        کنم. در این مقاله، به این سؤال به‌زبان ساده پاسخ می‌دهیم.
                                    </p>
                                </div>
                                <div class="list-articles-boxes-footer">
                                    <div class="list-articles-boxes-footer-time">
                                        <i class="fa fa-calendar list-articles-boxes-footer-time-icon"></i>
                                        <span class="list-articles-boxes-footer-time-span">1397/05/02</span>
                                    </div>
                                    <div class="list-articles-boxes-footer-view">
                                        <i class="fa fa-eye list-articles-boxes-footer-view-icon"></i>
                                        <span class="list-articles-boxes-footer-view-span">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="list-articles-boxes">
                                <div class="list-articles-boxes-header">
                                    <img src="{% static 'pic/article-4.jpg' %}" class="list-articles-boxes-header-image" alt="" />
                                </div>
                                <div class="list-articles-boxes-content">
                                    <h3 class="list-articles-boxes-content-heading-three">
                                        <a href="#" class="list-articles-boxes-content-link">
                                            فناوری بلاک چین چگونه کار می کند؟
                                        </a>
                                    </h3>
                                    <p class="list-articles-boxes-content-paragraph">
                                        قبل از هر چیز فراموش نکنید نحوه کار دقیق بلاک چین بسیار پیچیده است که در یک
                                        مقاله ساده نمی‌گنجد. به عنوان یک کاربر ساده برای استفاده از فناوری بلاک چین نیاز
                                        به دانستن چگونگی کار آن نخواهید داشت همانطور که برای استفاده از اینترنت نیاز به
                                        دانستن چگونگی کار اینترنت ندارید.
                                    </p>
                                </div>
                                <div class="list-articles-boxes-footer">
                                    <div class="list-articles-boxes-footer-time">
                                        <i class="fa fa-calendar list-articles-boxes-footer-time-icon"></i>
                                        <span class="list-articles-boxes-footer-time-span">1397/05/02</span>
                                    </div>
                                    <div class="list-articles-boxes-footer-view">
                                        <i class="fa fa-eye list-articles-boxes-footer-view-icon"></i>
                                        <span class="list-articles-boxes-footer-view-span">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="list-articles-boxes">
                                <div class="list-articles-boxes-header">
                                    <img src="{% static 'pic/article-5.png' %}" class="list-articles-boxes-header-image" alt="" />
                                </div>
                                <div class="list-articles-boxes-content">
                                    <h3 class="list-articles-boxes-content-heading-three">
                                        <a href="#" class="list-articles-boxes-content-link">
                                            بلاک چین چیست؟
                                        </a>
                                    </h3>
                                    <p class="list-articles-boxes-content-paragraph">
                                        بلاک چین (Blockchain) چیست، چگونه کار می‌کند و چه کاربردهایی دارد؟ این‌ها سوالات
                                        متداولی هستند که در مورد این فناوریِ انقلابی پرسیده می‌شود و احتمالاً درک آن
                                        برای افراد تازه‌کار و حتی برای حرفه‌ای‌ها چندان ساده نباشد. با ما همراه باشید تا
                                        به تمام این سوالات به زبان ساده پاسخ بدهیم.
                                    </p>
                                </div>
                                <div class="list-articles-boxes-footer">
                                    <div class="list-articles-boxes-footer-time">
                                        <i class="fa fa-calendar list-articles-boxes-footer-time-icon"></i>
                                        <span class="list-articles-boxes-footer-time-span">1397/05/02</span>
                                    </div>
                                    <div class="list-articles-boxes-footer-view">
                                        <i class="fa fa-eye list-articles-boxes-footer-view-icon"></i>
                                        <span class="list-articles-boxes-footer-view-span">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="list-articles-boxes">
                                <div class="list-articles-boxes-header">
                                    <img src="{% static 'pic/article-6.jpg' %}" class="list-articles-boxes-header-image" alt="" />
                                </div>
                                <div class="list-articles-boxes-content">
                                    <h3 class="list-articles-boxes-content-heading-three">
                                        <a href="#" class="list-articles-boxes-content-link">
                                            کاربرد های یک بلاک چین چیست؟
                                        </a>
                                    </h3>
                                    <p class="list-articles-boxes-content-paragraph">
                                        بلاک چین برای اولین بار در بیت کوین استفاده شد، اما حالا این فناوری می‌تواند
                                        کاربردهای زیادی در دنیای واقعی ما داشته باشد. به طور کلی استفاده از بلاک چین
                                        می‌تواند تا حد زیادی حریم خصوصی، اعتبار و امنیت اطلاعات را افزایش دهد و ما را
                                        بیش از پیش از اعتماد بی نیاز کند.
                                    </p>
                                </div>
                                <div class="list-articles-boxes-footer">
                                    <div class="list-articles-boxes-footer-time">
                                        <i class="fa fa-calendar list-articles-boxes-footer-time-icon"></i>
                                        <span class="list-articles-boxes-footer-time-span">1397/05/02</span>
                                    </div>
                                    <div class="list-articles-boxes-footer-view">
                                        <i class="fa fa-eye list-articles-boxes-footer-view-icon"></i>
                                        <span class="list-articles-boxes-footer-view-span">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-articles-pagination">
                    <ul class="list-articles-pagination-list">
                        <li class="list-articles-pagination-item">
                            <a class="list-articles-pagination-link" href="#">
                                <</a> </li> <li class="list-articles-pagination-item">
                                    <a class="list-articles-pagination-link" href="#">1</a>
                        </li>
                        <li class="list-articles-pagination-item">
                            <a class="list-articles-pagination-link" href="#">2</a>
                        </li>
                        <li class="list-articles-pagination-item list-articles-pagination-item-active">
                            <a class="list-articles-pagination-link" href="#">3</a>
                        </li>
                        <li class="list-articles-pagination-item">
                            <a class="list-articles-pagination-link" href="#">4</a>
                        </li>
                        <li class="list-articles-pagination-item">
                            <a class="list-articles-pagination-link" href="#">5</a>
                        </li>
                        <li class="list-articles-pagination-item">
                            <a class="list-articles-pagination-link" href="#">></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

  <!-- START FOOTER -->
  <footer class="footer" id="footer">
    <div class="footer-top">
        <div class="container footer-container">
            <div class="row footer-top-row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 footer-right-col">
                    <div class="footer-right">
                        <img src="{% static 'img/logo.png' %}" class="footer-right-image" alt="ارز توییت" />
                        <p class="footer-right-paragraph">
                            رمز ارز شبکه هوشمند سرمایه گذاری است که تلاش دارد با ارائه خدمات مناسب،سرمایه گذاری را
                            برای سرمایه گذاران آسان کند.سامانه معاملات آنلاین رمز ارز با همکاری کارگزاری تدبیرگران
                            فردا راه اندازی شده است.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 footer-center-col">
                    <div class="footer-center">
                        <h4 class="footer-center-heading-four">دسترسي سريع</h4>
                        <ul class="footer-center-list">
                            <li class="footer-center-item">
                                <a href="#" class="footer-center-link">
                                    صفحه اصلي
                                </a>
                            </li>
                            <li class="footer-center-item">
                                <a href="#" class="footer-center-link">
                                    توییت
                                </a>
                            </li>
                            <li class="footer-center-item">
                                <a href="#" class="footer-center-link">
                                    محصولات
                                </a>
                            </li>
                            <li class="footer-center-item">
                                <a href="#" class="footer-center-link">
                                    نقشه بازار
                                </a>
                            </li>
                            <li class="footer-center-item">
                                <a href="#" class="footer-center-link">
                                    دیده بان
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 footer-left-col">
                    <div class="footer-left">
                        <div class="footer-left-social-networks">
                            <i class="fa fa-telegram footer-left-social-networks-icon"></i>
                            <i class="fa fa-instagram footer-left-social-networks-icon"></i>
                            <i class="fa fa-twitter footer-left-social-networks-icon"></i>
                        </div>
                        <div class="footer-left-contact">
                            <h4 class="footer-left-contact-heading-four">ارتباط با ما</h4>
                            <ul class="footer-left-contact-list">
                                <li class="footer-left-contact-item">
                                    <i class="fas fa-map-marker-alt footer-left-contact-icon"></i>
                                    <span class="footer-left-contact-span">تهران،امير آباد،خيابان ثاني</span>
                                </li>
                                <li class="footer-left-contact-item">
                                    <i class="fas fa-phone footer-left-contact-icon"></i>
                                    <span class="footer-left-contact-span">09125412130</span>
                                </li>
                                <li class="footer-left-contact-item">
                                    <i class="fas fa-envelope footer-left-contact-icon"></i>
                                    <span class="footer-left-contact-span">info@ramzarz.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="footer-bottom-paragraph">
            <span class="footer-bottom-copyright">&copy;</span>
            تمامی حقوق برای سایت ارز توییت محفوظ است و بازنشر محتوا با ذکر منبع بلامانع است.
        </p>
    </div>
</footer>
<!-- END FOOTER -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/poper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>

</html>