{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>لیست رمزارزها</title>
    <link rel="stylesheet" href="{% static 'css/watch-list.min.css' %}">
    
    <style>
        .bold {
            color: #222;
        }

        .nobold {
            color: #aaa;
        }

        input {
            outline: none;
            background-color: white !important;
            display: block !important;
            margin: auto !important;
            width: 100% !important;
        }

        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: flex;
            justify-self: center;
            text-align: center;
            margin: 30px auto;
            width: 50%;
        }

        input {
            border: 1px solid transparent;
            padding: 10px;
            font-size: 16px;
        }

        input[type=text] {
            background-color: #f1f1f1;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
        }

        .autocomplete-items {
            position: absolute;
            z-index: 99;
            border: none;
            top: 100%;
            width: 100%;
            margin-top: 2px;
            max-height: 217px;
            overflow-y: auto;
        }

        .autocomplete-items::-webkit-scrollbar {
            width: 8px;
            background-color: #fff;
        }

        .autocomplete-items::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        .autocomplete-items::-webkit-scrollbar-thumb {
            background: #c8c8c8;
            border-radius: 2px;
            transition: all ease .5s;
        }

        .autocomplete-items::-webkit-scrollbar-thumb:hover {
            background: #c2c2c2;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
            text-align: center;
        }

        .autocomplete-items div img {
            margin-left: 8px;
        }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: #FCC81D !important;
            color: #ffffff;
        }

        .autocomplete-list {}
    </style>
{% endblock header %}


{% block page %}
    <section class="watch-list">
        <div class="container">
            <form action="{% url 'add_watch_list' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="watch-list-search">
                    <div class="watch-list-search-autocomplete">
                        <input id="autocompleteInput" name="currency" type="text" class="watch-list-search-autocomplete-input"
                            placeholder="جستجوی رمز ارز...">
                    </div>
                </div>
            </form>
            <table class="watch-list-table">
                <thead class="watch-list-table-header">  
                    <tr class="watch-list-table-row">
                        <th class="watch-list-table-heading">رديف</th>
                        <th class="watch-list-table-heading">نماد</th>
                        <th class="watch-list-table-heading">قيمت</th>
                        <th class="watch-list-table-heading">قیمت دلاری</th>
                        <th class="watch-list-table-heading">قیمت ریالی</th>
                        <th class="watch-list-table-heading">روزانه</th>
                        <th class="watch-list-table-heading">حجم بازار</th>
                    </tr>
                </thead>
                <tbody class="watch-list-table-body" id="topCryptocurrencyBody">
                    {% for cur in currencies %}
                        <tr class="watch-list-table-row" id="curr_{{cur.id}}">
                            <td class="watch-list-table-description">
                                {{ forloop.counter }}
                            </td>
                            <td class="watch-list-table-description">
                                <a href="{% url 'curr_tweets' cur.name %}">
                                    <div class="d-flex align-items-center justify-content-center">
                                    <span class="watch-list-table-name">{{cur.name}}</span>
                                        <img src="{{cur.image_url}}" alt="{{cur.symbol}}" class="watch-list-table-image">
                                    </div>
                                </a>
                            </td>
                            <td class="watch-list-table-description">
                                <span id="mobile_dollor_{{cur.symbol}}" class="watch-list-table-price watch-list-table-price-dollar"></span>
                                <span id="mobile_toman_{{cur.symbol}}" class="watch-list-table-price"></span>
                                <span class="watch-list-table-unit">تومان</span>
                            </td>
                            <td class="watch-list-table-description">
                                <span id="dollor_{{cur.symbol}}" class="watch-list-table-price watch-list-table-price-dollar"></span>
                            </td>
                            <td class="watch-list-table-description">
                                <span id="toman_{{cur.symbol}}" class="watch-list-table-price"></span>
                                <span class="watch-list-table-unit">تومان</span>
                            </td>
                            <td class="watch-list-table-description">
                                <span id="1d_change_{{cur.symbol}}" class="watch-list-table-percent watch-list-table-percent-descending"></span>
                            </td>
                            <td class="watch-list-table-description">
                                <span id="market_cap_{{cur.symbol}}" class="watch-list-table-price watch-list-table-price-dollar"></span>
                                <span id="market_cap_unit_{{cur.symbol}}" class="watch-list-table-unit"></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock page %}


{% block scripts %}

    <script src="{% static 'js/jquery.min.js' %}"> </script>


    <!-----------------------update currencies------------------------------>
<script>
    var dollor_rate = {{dollor_rate}};
    var new_data, old_data, cur_index=0, frame=0, new_price, new_1d_change, market_cap;
    var price_diff_per_frame={}, daily_change_diff_per_frame={};

    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    function update_window(symbol, price, daily_change){
        // set toman price
        document.getElementById('toman_' + symbol).innerHTML = parseInt(price * dollor_rate).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        document.getElementById('mobile_toman_' + symbol).innerHTML = parseInt(price * dollor_rate).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        // set dollor price
        if(price < 10){
            document.getElementById('dollor_' + symbol).innerHTML = numberWithCommas(price.toFixed(4)) + ' $ ';
            document.getElementById('mobile_dollor_' + symbol).innerHTML = numberWithCommas(price.toFixed(4)) + ' $ ';
        } else{
            document.getElementById('dollor_' + symbol).innerHTML = numberWithCommas(price.toFixed(2)) + ' $ ';
            document.getElementById('mobile_dollor_' + symbol).innerHTML = numberWithCommas(price.toFixed(2)) + ' $ ';
        } 
        // fix daily change and it's color
        if(daily_change < 0){
            document.getElementById('1d_change_' + symbol).innerHTML = daily_change.toFixed(2) + "%";
            document.getElementById('1d_change_' + symbol).style.backgroundColor = 'red';
        }else{
            document.getElementById('1d_change_' + symbol).innerHTML = daily_change.toFixed(2) + "%";
            document.getElementById('1d_change_' + symbol).style.backgroundColor = '#009900';
        }
    }

    function update_window_by_20_frame(){
        new_data =  JSON.parse($.ajax({
            url: "{% url 'get_currencies_info' page %}",
            type: 'GET',
            dataType: "json",
            async:false
        }).responseText);

        cur_index = 0;
        for(cur_index=0; cur_index<new_data.length; cur_index++){
            price_diff_per_frame[new_data[cur_index].symbol] = (new_data[cur_index].price - old_data[cur_index].price) / 20;
            daily_change_diff_per_frame[new_data[cur_index].symbol] = (new_data[cur_index]['1d_change'] - old_data[cur_index]['1d_change']) / 20;
        }

        frame = 1;
        let counter = setInterval(() => {
            if(frame==18){
                old_data = new_data;
                clearInterval(counter);
            }
            cur_index=0;
            old_data.forEach(cur => {
                //calcute new data
                new_price = cur['price'] + frame * price_diff_per_frame[cur.symbol];
                new_1d_change = cur['1d_change'] + frame * daily_change_diff_per_frame[cur.symbol];
                update_window(cur.symbol, new_price, new_1d_change);
                cur_index++;
            });      
            frame++;
        }, 3000);
    }


    //first time
    old_data = JSON.parse($.ajax({
        url: "{% url 'get_currencies_info' page %}",
        type: 'GET',
        dataType: "json",
        async:false
    }).responseText);

    // set market_cap only once
    for(var i=0; i< old_data.length; i++){
        market_cap = old_data[i].market_cap;
        if(market_cap < 1000000){
            document.getElementById('market_cap_' + old_data[i].symbol).innerHTML = numberWithCommas(market_cap.toFixed(0));
            document.getElementById('market_cap_unit_' + old_data[i].symbol).innerHTML = 'دلار'
        }else if(market_cap >= 1000000 && market_cap <1000000000){
            market_cap = market_cap / 1000000;
            document.getElementById('market_cap_' + old_data[i].symbol).innerHTML = numberWithCommas(market_cap.toFixed(2));
            document.getElementById('market_cap_unit_' + old_data[i].symbol).innerHTML = 'میلیون دلار'
        }else if(market_cap >= 1000000000 && market_cap <1000000000000){
            market_cap = market_cap / 1000000000;
            document.getElementById('market_cap_' + old_data[i].symbol).innerHTML = numberWithCommas(market_cap.toFixed(2));
            document.getElementById('market_cap_unit_' + old_data[i].symbol).innerHTML = 'میلیارد دلار'
        }else if(market_cap >= 1000000000000 && market_cap <1000000000000000){
            market_cap = market_cap / 1000000000000;
            document.getElementById('market_cap_' + old_data[i].symbol).innerHTML = numberWithCommas(market_cap.toFixed(3));
            document.getElementById('market_cap_unit_' + old_data[i].symbol).innerHTML = 'تریلیون دلار'
        }
    }

    //change correct data to have a dynamic page
    for(var i=0; i< old_data.length; i++){
        var sign = Math.random() > 0.5 ? -1 : 1;
        old_data[i]['price'] += (old_data[i]['price'] * sign * 0.005);
        old_data[i]['1d_change'] += (old_data[i]['1d_change'] * sign * 0.005);
        update_window(old_data[i].symbol, old_data[i]['price'], old_data[i]['1d_change']);
    }
    update_window_by_20_frame();

    setInterval(() => {
        update_window_by_20_frame();
    }, 60000);
    
</script>



    <!----------------------------autocomplete------------------------------>
    <script>
        function autocomplete(inp, arr, images) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) {
                    return false;
                }

                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<img style='width:5%' src = '" + images[i] + "' alt='" + arr[i] + "'>";
                        b.innerHTML += "<span style='color;#052058'>" + arr[i].substr(0, val.length) + "</span>";
                        b.innerHTML += "<span style = 'color:#DDD'>" + arr[i].substr(val.length) + "</span>";
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });

            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        //get all currencies from back
        var countries = [];
        var images = []
        $.ajax({
            url: '/get_all_currencies',
            type: 'GET',
            dataType: "json",
            success: function(currencies, s, x) {
                currencies.forEach(element => {
                    countries.push(element.name);
                    countries.push(element.persian_name + '|' + element.name);
                    countries.push(element.symbol);
                    images.push(element.image_url);
                    images.push(element.image_url);
                    images.push(element.image_url);
                });
            }
        });

        autocomplete(document.getElementById("autocompleteInput"), countries, images);
    </script>




{% endblock scripts %}