{% extends 'base.html' %}
{% load static %}


{% block header %}
    <title>ارز توییت</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{% static 'css/list-products.min.css' %}"/>

{% endblock header %}


{% block page %}
    <section class="list-products">
        {% for group in product_groups %}
        <div class="container">
            <h2 class="list-products-heading-two">{{group.name}}</h2>
            <div class="list-products-boxes-wrapper">
                <div class="row list-products-boxes-wrapper-row">

                {% for product in group.product_set.all %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="list-products-boxes">
                            <img src="{{product.image1.url}}" class="list-products-boxes-image" />
                            <h3 class="list-products-boxes-heading-three">
                                <a href="{% url 'product' product.id %}" class="list-products-boxes-link">
                                   {{product.name}}
                                </a>
                            </h3>      
                            <div class="list-products-boxes-price">
                                <span class="list-products-boxes-price-value">{{product.net_price}}</span>
                                <span class="list-products-boxes-price-unit">تومان</span>
                            </div>
                            <div class="list-products-boxes-add-to-cart">
                                <a href="{% url 'add_product_to_cart' product.id %}#carts" class="list-products-boxes-add-to-cart-link">
                                افزودن به سبد خرید
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock page %}
    


{% block scripts %}
    <script src="{% static 'js/typed.min.js' %}"></script>
{% endblock scripts %}

