{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>ارز توییتر</title>
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pushy.min.css' %}" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock header %}



{% block page %}
    <div class="page-wrapper">
      <section class="login">
        <div class="container login-container">
            <div class="row login-row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 login-right-col">
                    <div class="login-right">
                        <h2 class="login-right-heading-two">ورود به سایت</h2>

                        {% if error %}
                        <div class="alert alert-danger w-75 mx-auto">
                            <p style="text-align: center">{{error}}</p>
                        </div>
                        {% endif %}
                        {% if message %}
                        <div class="alert alert-info w-75 mx-auto">
                            <p style="text-align: center">{{message}}</p>
                        </div>
                        {% endif %}

                        <form action="{% url 'login' %}" method="POST" class="login-left-form">
                            {% csrf_token %}
                            <input name="next" value="{{next}}" hidden>
                            <div class="login-right-input-group">
                                <div class="login-right-input-wrapper">
                                    <input type="text" class="login-right-input" placeholder="نام کاربری/شماره تلفن" name="username" required autocomplete="off">
                                    <i class="fa fa-user login-right-icon"></i>
                                </div>
                            </div>
                            <div class="login-right-input-group">
                                <div class="login-right-input-wrapper">
                                    <input type="password" class="login-right-input" placeholder="رمز عبور" name="password" required autocomplete="off">
                                        <button type="button" id="seePassword" class="login-right-button">
                                            <i class="fa fa-eye-slash login-right-icon-2"></i>
                                        </button>
                                    <i class="fa fa-lock login-right-icon"></i>
                                </div>
                            </div>

                            <div class="login-right-input-group">
                                <div class="login-right-input-wrapper">
                                    <div class="g-recaptcha" data-sitekey="{{recaptcha}}"></div>
                                </div>
                            </div>

                            <div class="login-right-anchors">
                                <a class="login-right-link" href="{% url 'register' %}">ثبت نام در سایت</a>
                                <a class="login-right-link" href="{% url 'forgot_password' %}">فراموشی رمز عبور</a>
                            </div>
                            <div class="login-right-input-group">
                                <button type="submit"  class="login-right-submit" >
                                    ورود
                                </button>
                            </div>
                        </form>






                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 login-left-col">
                    <div class="login-left">
                        <img src="{% static 'img/login-register.jpg' %}" class="login-left-image" />
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
{% endblock page %}


{% block scripts %}
<script>
        let seePasswordButton = document.getElementById("seePassword");

        seePasswordButton.onclick = function() {
            let parent = seePasswordButton.parentNode;
            let input = parent.getElementsByClassName("login-right-input")[0];
            let icon = parent.getElementsByClassName("login-right-icon-2")[0];
            if (icon.classList.contains("fa-eye")) {
                input.type = "password";
                icon.classList.add("fa-eye-slash");
                icon.classList.remove("fa-eye");
            } else {
                input.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");    
            }
        }
    </script>
{% endblock scripts %}