{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>ارز توییتر</title>
    <link rel="stylesheet" href="{% static 'css/panel.min.css' %}"/>
{% endblock header %}


{% block page %}
    <div class="page-wrapper">
        <section class="panel">
            <div class="container panel-container">
                <div class="row panel-row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 panel-right-col">
                        <div class="panel-right">
                            <div class="panel-right-profile">
                                <img src="{{user.image.url}}" class="panel-right-profile-image" alt="{{user.name}}" />
                                <h2 class="panel-right-profile-heading-two">
                                    {{user.name}}
                                </h2>
                            </div>
                                <ul class="panel-right-list">
                                    <li class="panel-right-item panel-right-item-active">
                                        <a href="{% url 'dashboard' %}" class="panel-right-link">
                                            <i class="fa fa-dashboard panel-right-icon"></i>
                                            داشبورد
                                        </a>
                                    </li>
                                    <li class="panel-right-item">
                                        <a href="{% url 'edit_profile' %}" class="panel-right-link">
                                            <i class="fa fa-edit panel-right-icon"></i>
                                            ویرایش اطلاعات شخصی
                                        </a>
                                    </li>
                                    <li class="panel-right-item">
                                        <a href="{% url 'change_pass' %}" class="panel-right-link">
                                            <i class="fa fa-lock panel-right-icon"></i>
                                            تغییر کلمه عبور
                                        </a>
                                    </li>
                                    <li class="panel-right-item">
                                        <a href="{% url 'cart' %}" class="panel-right-link">
                                            <i class="fa fa-shopping-cart panel-right-icon"></i>
                                           سبد خريد
                                        </a>
                                    </li>
                                    <li class="panel-right-item">
                                        <a href="{% url 'invite_friends' %}" class="panel-right-link">
                                            <i class="fa fa-users panel-right-icon"></i>
                                           دعوت از دوستان
                                        </a>
                                    </li>
                                    <li class="panel-right-item">
                                        <a href="{% url 'logout' %}" class="panel-right-link">
                                            <i class="fa fa-sign-out panel-right-icon"></i>
                                            خروج از حساب کاربری
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 panel-left-col">
                        <div class="panel-left">
                            <div class="panel-left-invite-friends">
                                <div class="panel-left-invite-friends-header">
                                    <h3 class="panel-left-invite-friends-header-heading-three">
                                        دعوت از دوستان
                                </div>
                                <div class="panel-left-invite-friends-content">
                                    <div class="panel-left-invite-friends-content-alert">
                                        با به اشتراک گذاشتن لینک دعوت زیر دوستان خود را به سایت ارز توییتر دعوت کنید تا از تخفیف های ویژه سایت بهرمند شوید.
                                    </div>
                                    <input id="uniqCode" type="hidden"
                                        value="{{user.invite_code}}" />
                                    <button class="panel-left-invite-friends-button" id="inviteFriendsButton">دریافت
                                        لینک دعوت</button>
                                    <p id="inviteFriendsText" class="panel-left-invite-friends-content-paragraph panel-left-invite-friends-content-paragraph-hidden">
                                        لینک دعوت شما با موفقیت کپی شد.
                                    </p>
                                    <p id="inviteFriendsLink" class="panel-left-invite-friends-content-paragraph panel-left-invite-friends-content-paragraph-hidden">
                                    </p>

                                    {% if users %}
                                        <table class="panel-left-invite-friends-content-table table">
                                        <thead class="panel-left-invite-friends-content-table-head thead-dark">
                                            <tr class="panel-left-invite-friends-content-table-row">
                                                <th class="panel-left-invite-friends-content-table-heading">
                                                    نام و نام خانوادگي
                                                </th>
                                                <th class="panel-left-invite-friends-content-table-heading">
                                                    عكس
                                                </th>
                                                <th class="panel-left-invite-friends-content-table-heading">
                                                    تاريخ ثبت نام
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="panel-left-invite-friends-content-table-body">

                                        {% for User in users %}
                                            <tr class="panel-left-invite-friends-content-table-row">
                                                <td class="panel-left-invite-friends-content-table-data">
                                                    {{User.name}}
                                                </td>
                                                <td class="panel-left-invite-friends-content-table-data">
                                                    <img src="{{User.image.url}}" class="panel-left-invite-friends-content-table-image" />
                                                </td>
                                                <td class="panel-left-invite-friends-content-table-data">
                                                   {{User.shamsi_joined_date}}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    {% else %}
                                    <div>
                                    <hr>
                                    <div class="alert alert-danger w-75 mx-auto">
                                        <p style="text-align: center">شما هنوز کسی را دعوت نکرده اید</p>
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </div>
{% endblock page %}


{% block scripts %}
    <script>
        let input = document.getElementById("uniqCode");
        let btn = document.getElementById("inviteFriendsButton");
        let text = document.getElementById("inviteFriendsText");
        let link = document.getElementById("inviteFriendsLink");
        link.innerHTML = window.location.host + '/account/register/' + input.value;
        btn.addEventListener("click", function () {
            navigator.clipboard.writeText(window.location.host + '/account/register/' + input.value);
            text.classList.remove("panel-left-invite-friends-content-paragraph-hidden");
            link.classList.remove("panel-left-invite-friends-content-paragraph-hidden");
        })
    </script>
{% endblock scripts %}