{% extends 'base.html' %} {% load static %} {% block header %}
<title>ارز توییت</title>
<link rel="stylesheet" href="{% static 'css/login.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/pushy.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/register.min.css' %}" />
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock header %}


{% block page %}
   <div class="page-wrapper">
      <section class="register">
        <div class="container register-container">
            <div class="row register-row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 register-right-col">
                    <div class="register-right">
                        <h2 class="register-right-heading-two">ثبت نام در سايت</h2>
                        {% if error %}
                        <div class="alert alert-danger w-75 mx-auto">
                            <p>{{error}}</p>
                        </div>
                        {% endif %}
                        <form action="{% url 'register' %}" method="POST" class="register-left-form">
                            {% csrf_token %}
                            <div class="register-right-input-group">
                                <div class="register-right-input-wrapper">
                                    <input type="text" class="register-right-input" value="{{name}}" placeholder="نام و نام‌خانوادگی" name="name" required autocomplete="off">
                                    <i class="fa fa-user register-right-icon"></i>
                                </div>
                            </div>
                            <div class="register-right-input-group">
                                <div class="register-right-input-wrapper">
                                    <input type="text" class="register-right-input" value="{{username}}" placeholder="نام کاربری" name="username" required autocomplete="off">
                                    <i class="fa fa-user register-right-icon"></i>
                                </div>
                            </div>
                            <div class="register-right-input-group">
                                <div class="register-right-input-wrapper">
                                    <input type="text" class="register-right-input" value="{{phone}}" placeholder="تلفن همراه" name="phone" required autocomplete="off">
                                    <i class="fa fa-phone register-right-icon"></i>
                                </div>
                            </div>
                            <div class="register-right-input-group">
                                <div class="register-right-input-wrapper">
                                    <input type="text" class="register-right-input" value="{{password}}" placeholder="رمز عبور" name="password" required autocomplete="off">
                                    <i class="fa fa-lock register-right-icon"></i>
                                </div>
                            </div>
                            <div class="register-right-input-group">
                                <div class="register-right-input-wrapper">
                                    <input type="text" class="register-right-input" placeholder="تکرار رمز عبور" name="cnf_password" required autocomplete="off">
                                    <i class="fa fa-lock register-right-icon"></i>
                                </div>
                            </div>
                            <div class="register-right-input-group">
                                <div class="register-right-input-wrapper">
                                    <input type="text" class="register-right-input" value="{{invite_code}}" placeholder="کد دعوت" name="invite_code" autocomplete="off">
                                    <i class="fa fa-share-alt register-right-icon"></i>
                                </div>
                            </div>
                            <div class="register-right-anchors">
                                <a class="register-right-link" href="{% url 'login' %}">ورود به سایت</a>
                            </div>
                            <div class="register-right-input-group">
                                <button type="submit"  class="register-right-submit" >
                                    ثبت نام
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 register-left-col">
                    <div class="register-left">
                        <img src="{% static 'img/login-register.jpg' %}" class="register-left-image" />
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>

{% endblock page %}

 {% block scripts %} {% endblock scripts %}