{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارز توییتر</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pushy.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/shopping-cart.min.css' %}" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
 <!-- START PRELOADER -->
 <div class="preloader">
    <ul class="preloader-list">
    <li class="preloader-item"></li>
    <li class="preloader-item"></li>
    <li class="preloader-item"></li>
    <li class="preloader-item"></li>
    <li class="preloader-item"></li>
</ul>
</div>
<!-- END PRELOADER -->

     <!-- START HEADER -->
     <header class="header" id="header">
        <div class="header-large ">
            <div class="container header-container">
                <div class="row header-row">
                    <div class="col-lg-2 col-xl-1 logo-col wow animate__animated animate__jello" data-wow-duration="1.5s">
                        <div class="logo">
                            <a href="#" class="logo-link">
                                <img src="{% static 'img/logo.png' %}" class="logo-image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8 main-menu-col">
                        <nav class="main-menu">
                            <ul class="main-menu-list">
                                <li class="main-menu-item main-menu-item-active">
                                    <a href="#" class="main-menu-link">
                                        خانه
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        توئیت
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        رمز ارزها
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        نقشه بازار
                                    </a>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        دیده بان
                                    </a>
                                </li>
                                <li class="main-menu-item main-submenu">
                                    <a href="#" class="main-menu-link">
                                        محصولات
                                    </a>
                                    <ul class="main-submenu-list">
                                        <li class="main-submenu-item">
                                            <a href="#" class="main-submenu-link">
                                                وی پی ان
                                            </a>
                                        </li>
                                        <li class="main-submenu-item">
                                            <a href="#" class="main-submenu-link">
                                                محصولات آموزشی
                                            </a>
                                        </li>
                                        <li class="main-submenu-item">
                                            <a href="#" class="main-submenu-link">
                                                سیگنال
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="main-menu-item">
                                    <a href="#" class="main-menu-link">
                                        مقالات
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-xl-3 login-register-col">
                        <div class="login-register">
                            <i class="fa fa-user login-register-icon"></i>
                            <a href="login-register.html" class="login-register-link">
                                <span class="login-register-span">ورود</span>
                            </a>
                            <span class="login-register-span">|</span>
                            <a href="login-register.html" class="login-register-link">
                                <span class="login-register-span">ثبت نام</span>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-xl-3 account-col">
                        <div class="account">
                            <div class="account-panel">
                                <div class="account-collapse" id="account-collapse">
                                    <button class="account-collapse-button" id="account-button">
                                        <img src="{% static 'img/default-user.jpg' %}" class="account-collapse-image" />
                                    </button>
                                </div>
                                <div class="account-content" id="account-content">
                                    <ul class="account-content-list">
                                        <li class="account-content-item">
                                            Mohammad عزیز
                                            <br>
                                            خوش آمدید
                                        </li>
                                        <li class="account-content-item">
                                            امتیاز شما : 80
                                        </li>
                                        <li class="account-content-item">
                                            خروج از حساب
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="account-cart">
                                <a href="#" class="account-cart-link">
                                    <i class="fas fa-shopping-cart account-cart-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="header-medium">
            <div class="container header-container">
                <div class="row header-row">
                    <div class="col-3 col-sm-4 col-md-4">
                        <nav class="responsive-menu" id="responsiveMenu">
                            <div class="responsive-menu-header">
                                <img src="{% static 'img/logo.png' %}" class="responsive-menu-header-image" />
                                <button class="responsive-menu-header-button" id="closeNav">
                                    <i class="fa fa-times responsive-menu-header-icon"></i>
                                </button>
                            </div>
                            <div class="responsive-menu-content">
                                <ul class="responsive-menu-content-list">
                                    <li class="responsive-menu-content-item">
                                        <a href="#" class="responsive-menu-content-link">خانه</a>
                                    </li>
                                    <li class="responsive-menu-content-item">
                                        <a href="#" class="responsive-menu-content-link">توییت</a>
                                    </li>
                                    <li class="responsive-menu-content-item">
                                        <a class="responsive-menu-content-link">رمزارزها</a>
                                    </li>
                                    <li class="responsive-menu-content-item">
                                        <a href="#" class="responsive-menu-content-link">نقشه بازار</a>
                                    </li>
                                    <li class="responsive-menu-content-item">
                                        <a href="#" class="responsive-menu-content-link">دیده بان</a>
                                    </li>
                                    <li class="responsive-menu-content-item responsive-submenu-content">
                                        <a href="#" class="responsive-menu-content-link">محصولات</a>
                                        <ul class="responsive-submenu-content-list">
                                            <li class="responsive-submenu-content-item">
                                                <a class="responsive-submenu-content-link">وی پی ان</a>
                                            </li>
                                            <li class="responsive-submenu-content-item">
                                                <a class="responsive-submenu-content-link">محصولات آموزشی</a>
                                            </li>
                                            <li class="responsive-submenu-content-item">
                                                <a class="responsive-submenu-content-link">سیگنال</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="responsive-menu-content-item">
                                        <a href="#" class="responsive-menu-content-link">مقالات</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="responsive-menu-overlay" id="overlay"></div>
                        <button class="responsive-menu-button" id="openNav">
                            <i class="fa fa-bars responsive-menu-icon"></i>
                        </button>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="logo">
                            <a href="#" class="logo-link">
                                <img src="{% static 'img/logo.png' %}" class="logo-image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-5 col-sm-4 col-md-4">
                        <div class="login-register">
                            <i class="fa fa-user login-register-icon"></i>
                            <a href="login-register.html" class="login-register-link">
                                <span class="login-register-span">ورود</span>
                            </a>
                            <span class="login-register-span">|</span>
                            <a href="login-register.html" class="login-register-link">
                                <span class="login-register-span">ثبت نام</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->
    <div class="page-wrapper">
        <section class="shopping-cart">
            <div class="container shopping-cart-container">
                <ul class="shopping-cart-list">
                    <li class="shopping-cart-item">
                        
                    </li>
                </ul>
                <a href="#" class="shopping-cart-link">تأیید و پرداخت</a>
            </div>
        </section>
    </div>

    <!-- START FOOTER -->
    <footer class="footer" id="footer">
        <div class="footer-top">
            <div class="container footer-container">
                <div class="row footer-top-row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 footer-right-col">
                        <div class="footer-right">
                            <img src="{% static 'img/logo.png' %}" class="footer-right-image" alt="ارز توییت" />
                            <p class="footer-right-paragraph">
                                رمز ارز شبکه هوشمند سرمایه گذاری است که تلاش دارد با ارائه خدمات مناسب،سرمایه گذاری را
                                برای سرمایه گذاران آسان کند.سامانه معاملات آنلاین رمز ارز با همکاری کارگزاری تدبیرگران
                                فردا راه اندازی شده است.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 footer-center-col">
                        <div class="footer-center">
                            <h4 class="footer-center-heading-four">دسترسي سريع</h4>
                            <ul class="footer-center-list">
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        صفحه اصلي
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        توییت
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        محصولات
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        نقشه بازار
                                    </a>
                                </li>
                                <li class="footer-center-item">
                                    <a href="#" class="footer-center-link">
                                        دیده بان
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 footer-left-col">
                        <div class="footer-left">
                            <div class="footer-left-social-networks">
                                <i class="fa fa-telegram footer-left-social-networks-icon"></i>
                                <i class="fa fa-instagram footer-left-social-networks-icon"></i>
                                <i class="fa fa-twitter footer-left-social-networks-icon"></i>
                            </div>
                            <div class="footer-left-contact">
                                <h4 class="footer-left-contact-heading-four">ارتباط با ما</h4>
                                <ul class="footer-left-contact-list">
                                    <li class="footer-left-contact-item">
                                        <i class="fas fa-map-marker-alt footer-left-contact-icon"></i>
                                        <span class="footer-left-contact-span">تهران،امير آباد،خيابان ثاني</span>
                                    </li>
                                    <li class="footer-left-contact-item">
                                        <i class="fas fa-phone footer-left-contact-icon"></i>
                                        <span class="footer-left-contact-span">09125412130</span>
                                    </li>
                                    <li class="footer-left-contact-item">
                                        <i class="fas fa-envelope footer-left-contact-icon"></i>
                                        <span class="footer-left-contact-span">info@ramzarz.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom-paragraph">
                <span class="footer-bottom-copyright">&copy;</span>
                تمامی حقوق برای سایت ارز توییت محفوظ است و بازنشر محتوا با ذکر منبع بلامانع است.
            </p>
        </div>
    </footer>
    <!-- END FOOTER -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/poper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script>
        //پاك كردن از سبد خريد
        function removeFromCart(id) {
            // document.querySelector('.preloader').classList.remove('hidePreloader');
            // document.body.classList.add("hidden");
            // document.body.classList.remove("visible");
            //به جاي server بايد آدرس اكشني كه از سبد خريد حذف ميكنه رو بذاريم
            $.get("Server" + id, function () {
                updateCart();
                // document.querySelector('.preloader').classList.add('hidePreloader');
                // document.body.classList.add("visible");
                // document.body.classList.remove("hidden");
            })
        }
        
        // افزودن به سبد خريد 
        function addToCart(id) {
            //document.querySelector('.preloader').classList.remove('hidePreloader');
            //به جاي server بايد آدرس اكشني كه به سبد خريد اضافه ميكنه رو بذاريم
            $.get("Server" + id, function () {
                updateCart();
                // document.querySelector('.preloader').classList.add('hidePreloader');
            })
        }
        //برگرداندن جدول سبد خريد
        function updateCart() {
            $("#shoppingTable").load("Server").fadeIn(500).fadeOut(500);
        }
    </script>
    </body>
    </html>