{% extends 'base.html' %} {% load static %} {% block header %}
<title>Document</title>
<link rel="stylesheet" href="{% static 'css/watch-list.min.css' %}">

<style>
    .bold {
        color: #222;
    }
    
    .nobold {
        color: #aaa;
    }
    
    input {
        outline: none;
        background-color: white !important;
        display: block !important;
        margin: auto !important;
        width: 100% !important;
    }
    
    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: flex;
        justify-self: center;
        text-align: center;
        margin: 30px auto;
        width: 50%;
    }
    
    input {
        border: 1px solid transparent;
        padding: 10px;
        font-size: 16px;
    }
    
    input[type=text] {
        background-color: #f1f1f1;
    }
    
    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
    }
    
    .autocomplete-items {
        position: absolute;
        z-index: 99;
        border: none;
        top: 100%;
        width: 100%;
        margin-top: 2px;
    }
    
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        text-align: center;
    }
    
    .autocomplete-items div img {
        margin-left: 8px;
    }
    
    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: #FCC81D !important;
        color: #ffffff;
    }
</style>

{% endblock header %} {% block page %}

<section class="watch-list">
    <div class="container">
        <div class="watch-list-line">
            <h2 class="watch-list-line-heading-two">ديده بان</h2>
            <p class="watch-list-line-paragraph">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت
                که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
        </div>
        <form action="{% url 'add_watch_list' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="watch-list-search">
                <div class="watch-list-search-autocomplete">
                    <input id="autocompleteInput" name="currency" type="text" class="watch-list-search-autocomplete-input" placeholder="رمز ارز مورد نظر خود را جستجو کنید...">
                    <button type="submit" class="watch-list-autocomplete-search-button">افزودن</button>
                </div>
            </div>
        </form>
        <table class="watch-list-table">
            <thead class="watch-list-table-header">
                <tr class="watch-list-table-row">
                    <th class="watch-list-table-heading">نماد</th>
                    <th class="watch-list-table-heading">قیمت دلاری</th>
                    <th class="watch-list-table-heading">قیمت ریالی</th>
                    <th class="watch-list-table-heading">روزانه</th>
                </tr>
            </thead>
            <tbody class="watch-list-table-body" id="topCryptocurrencyBody">

                {% for cur in watch_list %}
                <tr class="watch-list-table-row" id="raw">
                    <td class="watch-list-table-description">
                        <img src="{{cur.image_url}}" alt="{{cur.symbol}}" class="watch-list-table-image">
                        <span class="watch-list-table-name">{{cur.symbol}}</span>
                    </td>
                    <td class="watch-list-table-description">
                        <span id="dollor{{cur.symbol}}" class="watch-list-table-price">0</span>
                        <span class="watch-list-table-unit">دلار</span>
                    </td>
                    <td class="watch-list-table-description">
                        <span id="toman_{{cur.symbol}}" class="watch-list-table-price">0</span>
                        <span class="watch-list-table-unit">تومان</span>
                    </td>
                    <td class="watch-list-table-description">
                        <span id="1d_change_{{cur.symbol}}" class="watch-list-table-percent watch-list-table-percent-descending">0%</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>

{% endblock page %} {% block scripts %}

<script>
    function autocomplete(inp, arr, images) {
        var currentFocus;
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<img style='width:5%' src = '" + images[i] + "' alt='" + arr[i] + "'>";
                    b.innerHTML += "<span style='color;#052058'>" + arr[i].substr(0, val.length) + "</span>";
                    b.innerHTML += "<span style = 'color:#DDD'>" + arr[i].substr(val.length) + "</span>";
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function(e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function(e) {
            closeAllLists(e.target);
        });
    }

    //get all currencies from back
    var countries = [];
    var images = []
    $.ajax({
        url: '/get_all_currencies',
        type: 'GET',
        dataType: "json",
        success: function(currencies, s, x) {
            currencies.forEach(element => {
                countries.push(element.name);
                countries.push(element.persian_name + '|' + element.name);
                images.push(element.image_url);
                images.push(element.image_url);
            });
        }
    });

    autocomplete(document.getElementById("autocompleteInput"), countries, images);
</script>



<script>
    var dollor_rate = {{dollor_rate}};
    //get wath_list from back
    var watch_list = []
    $.ajax({
        url: 'get_watch_list',
        type: 'GET',
        dataType: "json",
        success: function(currencies, s, x) {
            watch_list = currencies;
        }
    });


    //setInterval(() => {
    //    $.ajax({
    //        url: 'https://api.nomics.com/v1/currencies/ticker',
    //        type: 'GET',
    //        crossOrigin: true,
    //        crossDomain: true,
    //        dataType: "json",
    //        xhrFields: {
    //            withCredentials: true
    //        },
    //        data: {
    //            key: 'e46fab48a3538b1ec642482aaa54fb68',
    //            ids: "{{symbols}}",
    //            interval: '1d,7d'
    //        },
    //        jsonpCallback: function(currencies, s, x) {
    //          console.log(currencies);
    //            currencies.forEach(cur => {
    //                document.getElementById('1d_change_' + cur.id).innerHTML = cur['1d']['price_change_pct'];
    //                document.getElementById('toman_' + cur.id).innerHTML = parseInt(cur['price'] * dollor_rate);
    //                document.getElementById('dollor' + cur.id).innerHTML = cur['price'];
    //            });
    //        }
    //    });
    //}, 3000);

    setInterval(() => {
        fetch('https://api.nomics.com/v1/currencies/ticker?key=e46fab48a3538b1ec642482aaa54fb68&ids={{symbols}}&interval=1d')
            .then(response => response.json()) 
            .then(currencies => {
                currencies.forEach(cur => {
                    document.getElementById('1d_change_' + cur.id).innerHTML = cur['1d']['price_change_pct'];
                    document.getElementById('toman_' + cur.id).innerHTML = parseInt(cur['price'] * dollor_rate);
                    document.getElementById('dollor' + cur.id).innerHTML = cur['price'];
                });
            });
    }, 3000);
    
</script>

{% endblock scripts %}